<div class="Conversation">
	<div class="Top">
		<h1>Top responses:</h1>
		<div class="Message">
			<span class="Author">Professor Dave</span>
			Yes I was talking about Crime Pooping
			Controversy Defences. It's some pretty good
			stuff.
		</div>
		<div class="Message">
			<span class="Author">Kevin Chams</span>
			FUCK YEA AMERICKA! That's how we do.
		</div>
	</div>
	<div class="All">
		<h1>Conversation:</h1>
		<div class="Message">
			<div class="Votes">
				<a class="Button" href="">+5</a>
			</div>
			<div class="Content">
				I am an idiot. Completely disregard this
				message. LOL!
			</div>
		</div>
		<div class="Message">
			<div class="Votes">
				<a class="Button" href="">-88</a>
			</div>
			<div class="Content">
				Once upon a time mary had a little lamb. Then the lamb got
				killed and eaten. Was pretty tasty.
			</div>
		</div>
		<div class="Message">
			<div class="Votes">
				<a class="Button" href="">+3</a>
			</div>
			<div class="Content">
				This is some testing text just typing it out for fun ok
				gonna keep going for a little bit... and just about there...
				aannd done.
			</div>
		</div>
		<input type="text" placeholder="Add something to the conversation" style="width: 90%; padding: 7px; margin-top: 20px"/>
	</div>
</div>