ul#Courses
	li
		a.All(href="") All
	li.Selected
		a.Name(href="")
			span.Prefix CRIM
			span.Number 101
		a.Count(href="") 2

	li
		a.Name(href="")
			span.Prefix ENG
			span.Number 109W
		a.Count(href="") 1

	li
		a.Name(href="")
			span.Prefix MATH
			span.Number 209
		a.Count(href="") 2
	
	each course, index in courses		
		li
			a.Name(href="")
				span.Prefix #{course.subject}
				span.Number #{course.number}
			a.Count(href="") 0


		
			