ul#Courses
	li.Selected
		a.All(href="", onclick="return selectButton(this);") All

	each course, index in courses		
		li
			a.Name(href="", onclick="return selectButton(this);")
				span.Prefix #{course.subject}
				span.Number #{course.number}
				span.UUID(style='display:none;') #{course.uuid}				
			a.Count(href="") 0

script(type="text/javascript", src="../javascripts/accent/courseList.js")
script(type="text/javascript", src="../javascripts/accent/media-list.js")