div#HeaderContainer
	div#Header
		div#Session
			div.Components	
				a.UUID(style="display:none;") #{ user.uuid }		
				a.User(href="/") #{ user.firstName }  #{ user.lastName }
				div.Actions
					a(href="") Settings
					- if(user)
						a(href="/logout") Logout
					- else
						a(href="/login") Login
			img.User(src="../images/accent/user.jpg", alt="user")
		h1 
			a(href="/")
				img(src="../../images/accent/AccentIcon.png", href="/", alt="Accent")	
	
