div#HeaderContainer
	div#Header
		div#Session
			div.Components	
				a.UUID(style="display:none;") #{ user.uuid }		
				a.User(href="/") #{ user.firstName }  #{ user.lastName }
				div.Actions
					a(href="") Settings
					a(href="/logout") Logout
			img.User(src="../images/accent/user.jpg", alt="user")
		h1 Accent
	
			
