div#Main
	a.Button(style="float: right;") Review Notes
	h1 Advanced Law Court Systems
	h2 Week 4

	div
		span(id="mediaUUID", style='display:none;') #{mediaUUID}	
		video(id="mediaPlayer", width="840", height="490", type="video/mp4", src="") Your browser doesn't support video!
		div.Controls
			a.Play(onclick="playVideo();") Play
			div.Timeline
				a.Scrubber(href="")
			div.Volume

		div.Tagger
			div.Timeline
				div.Tag(style="left: 40px; width: 170px; background: green;")
				div.Tag(style="left: 20px; width: 100px; background: yellow;")
				div.Tag(style="left: 220px; width: 90px; background: orange;")
				div.Tag(style="left: 520px; width: 12px; background: purple;")
			div.Commands
				a(href="") X
				ul
					li
						a(href="") X
					li
						a(href="") Y
					li
						a(href="") Z
					li
						a(href="") Q
		div.TagWindow
			div
				label Title:
				input#TagTitle(type="text", placeholder="My Great Title")
			div
				label Tag Type:
			div
				label Description:
				textarea#TagDescription
			div
				input(type="submit", value="Done", onclick="return uploadTag(this);")
					
script(type="text/javascript", src="../javascripts/accent/load-media.js")
script(type="text/javascript", src="../javascripts/accent/uploadTag.js")