div#Main
	a.Button(style="float: right;") Review Notes
	h1
	h2 

	div
		span(id="mediaUUID", style='display:none;') #{mediaUUID}	
		video(id="mediaPlayer", width="840", height="490", type="video/mp4", src="") Your browser doesn't support video!

		div.Controls
			a.Play(onclick="playVideo();", href="", data-action="play")
				img(src="../../images/accent/play.png", alt="Play")
			div.Timeline
				a.Scrubber(href="")
			div.Volume
				a(href="")
					img(src="../../images/accent/speaker.png", style="width: 16px; height: 16px; padding: 4px;", alt="")
				div.Input
					input(type="range", value="1.0", max="1.0", min="0.0", step="0.05")

		div.Tagger
			div.Timeline

				div.TagWindow
					div.Type
						label Type:
						select#TagType
							option Important
							option Examable
							option Question
							option Interesting
							option General
					div.Title
						label Title:
						input#TagTitle(type="text", placeholder="My Great Title")
					div.Description
						label Description:
						textarea#TagDescription(rows="6", cols="50")
					div.Buttons
						input(type="submit", onclick="return deleteTag(this);", value="Discard Changes")
						input(type="submit", onclick="return uploadTag(this);", value="Save Changes")

			div.Commands
				a(href="") 
					img(src="../../images/accent/gear.png", alt="")
				ul
					li.All
						a(href="", onclick="return filterTag(this);") All
							img(alt="All")
					li.Important
						a(href="", onclick="return filterTag(this);")
							img(src="../../images/accent/important.png", alt="Important")
					li.Examable
						a(href="", onclick="return filterTag(this);")
							img(src="../../images/accent/examable.png", alt="Examable")
					li.Question
						a(href="", onclick="return filterTag(this);")
							img(src="../../images/accent/question.png", alt="Question")
					li.Interesting
						a(href="", onclick="return filterTag(this);")
							img(src="../../images/accent/interesting.png", alt="Interesting")
					li.General
						a(href="", onclick="return filterTag(this);")
							img(src="../../images/accent/general.png", alt="General")


					
script(type="text/javascript", src="../javascripts/accent/load-media.js")
script(type="text/javascript", src="../javascripts/accent/tagControl.js")