div#Main
	a.Button(style="float: right;") Review Notes
	h1 Advanced Law Court Systems
	h2 Week 4

	div
		span(id="mediaUUID", style='display:none;') #{mediaUUID}	
		video(id="mediaPlayer", width="840", height="490", type="video/mp4", src="") Your browser doesn't support video!
		div.Controls
			a.Play(onclick="playVideo();") Play
			div.Timeline
				a.Scrubber(href="")
			div.Volume

		div.Tagger
			div.Timeline

			div.Commands
				a(href="") Filters
				ul
					li.All
						a(href="") All
					li.Important
						a(href="")
							img(src="../../images/accent/important.png", alt="Important")
					li.Examable
						a(href="")
							img(src="../../images/accent/examable.png", alt="Examable")
					li.Question
						a(href="")
							img(src="../../images/accent/question.png", alt="Question")
					li.Interesting
						a(href="")
							img(src="../../images/accent/interesting.png", alt="Interesting")
					li.General
						a(href="")
							img(src="../../images/accent/general.png", alt="General")


					
script(type="text/javascript", src="../javascripts/accent/load-media.js")
script(type="text/javascript", src="../javascripts/accent/uploadTag.js")