div#Main(onload="getMedia();")
	h1 Manage Your Media
	div#CourseDD
		|Course
		select(class="Selected", name="course")

	div#SectionDD
		|Week
		select(name="section")
	
	div#media-list
script(type="text/javascript", src="../javascripts/accent/media-list.js")