
* {
	padding: 0;
	margin: 0;
}

body {
	background: #f0f0f0;
	font-family: "Arial";
}

@font-face {
    font-family: Futura;
    src: url(font/FuturaLight.ttf);
    font-weight:400;
}

#Courses {
	list-style-type: none;
	font-family: "Futura";
	position: relative;
	display: block;
	margin-bottom: 13px;
	padding: 20px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: end ;
}

#Courses li {
	display: block;
	border-bottom: solid 1px #c0c0c0;
	margin-left: 4px;
	padding: 3px 10px;
	vertical-align: bottom;
	position: relative;
}

#Courses a {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;

}

#Container {
	width: 1200px;
	margin: 20px auto;
	position: relative;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

#Courses .Name {
	text-align: center;
	font-size: 20px;
	padding-right: 42px;
	color: #111;
}

#Courses .All {
	color: #111;
	font-size: 20px;
	padding-right: 20px;
}

#Courses .Prefix, #Courses.Number {
	display: block;
}

#Courses .Count {
	border-radius: 1em;
	min-width: 0.8em;
	height: 1.5em;
	text-align: center;
	padding: 0 0.4em;
	opacity: 0.4;
	color: #fff;
	line-height: 1.5em;
}

#Courses li:after {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f00;
	position: absolute;
	top: 100%;
	content: " ";
	left: 50%;
	margin-left: -10px;
	margin-top: 4px;
	-webkit-transition: all 1s linear;
	opacity: 0.0;
}

#Courses li.Selected:after {
	opacity: 1.0;
}

#Courses li.Selected a, #Courses li:hover a {
	opacity: 1.0;
}

#Courses li:nth-child(2) .Count {
	background: #91C759;
}

#Courses li:nth-child(2):after {
	border-top-color: #91C759;
}

#Courses li:nth-child(2) {
	border-bottom-color: #91C759;
}

#Courses li:nth-child(3) {
	border-bottom-color: #4DBDE5;
}

#Courses li:nth-child(3) .Count {
	background: #4DBDE5;
}

#Courses li:nth-child(4) {
	border-bottom-color: #FBA239;
}

#Courses li:nth-child(4) .Count {
	background: #FBA239;
}

#Courses li:nth-child(5) {
	border-bottom-color: #A6373A;
}

#Courses li:nth-child(5) .Count {
	background: #A6373A;
}

#Courses li:nth-child(6) {
	border-bottom-color: #BF5FFF;
}

#Courses li:nth-child(6) .Count {
	background: #BF5FFF;
}

#Courses li:nth-child(7) {
	border-bottom-color: #00BFAE;
}

#Courses li:nth-child(7) .Count {
	background: #00BFAE;
}

#Courses:after {
	display: block;
	content: " ";
	border-bottom: solid 1px #c0c0c0;
	-webkit-box-flex: 1.0;
}

.Archives {
	display: block;
	position: absolute;
	right: 3px;
	margin-top: 14px;
}

.Button {
	border: solid 1px #c0c0c0;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	padding: 3px 8px;
	text-decoration: none;
	color: #666;
	border-radius: 5px;
}

#Session {
	position: absolute;
	right: 10px;
	text-align: right;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	border-radius: 12px;
	background: rgba(0,0,0,0.3);
	box-shadow: inset 0 0 8px rgba(0,0,0,0.4);
	padding: 10px 10px 10px 30px;
	top: 21px;
}

#Session .Components {
	display: -webkit-box; 
	-webkit-box-orient: vertical; 
	-webkit-box-pack: center;
}

#Session .Actions a {
	font-size: 80%;
	display: inline-block;
	margin-left: 7px;
}

#Session .User {
	color: #aaa;
}

#Session a {
	color: #888;
	text-decoration: none;
}

#Session a:hover {
	color: #fff;
}

#HeaderContainer {
	background: #222;
	box-shadow: 0 0 16px rgba(0,0,0,0.2);
}


#Header {
	margin: 0 auto;
	width: 1200px;
	position: relative;
	padding: 10px 0;
}


#Header h1 {
	margin-top: 15px;
	color: #eee;
}

#Content {
	text-align: left;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

#Content h1 {
	font-size: 22px;
	font-family: "Futura";
	font-weight: normal;
}

#Content h2 {
	font-size: 16px;
	font-family: "Futura";
	font-weight: normal;
}

#Main {
	-webkit-box-flex: 1.0;
	padding: 20px;
}

#Right {
	width: 280px;
	padding: 20px;
}

img.User {
	height: 3em;
	width: 3em;
	margin-left: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

#Right > h1 {
	border-bottom: solid 1px #c0c0c0;
	margin-bottom: 23px;
}

#CourseDD{
	float:left;
	margin:0px 20px 20px 0px;
	width:300px;
}

#UploadCourseDD {
	float:left;
	margin:0px 20px 20px 0px;
}

#UploadFormFields {
	clear:both;
}

#UploadForm, #EditForm{
	background:white;
	padding:20px;
	border:3px solid black;
	top:20%;
	right:30%;
	position:fixed;
}

#closeUploadButton {
	cursor: pointer;
}

.MediaItem{
	background:#DDD;
	box-shadow: 3px 1px 5px #AAA;
	clear:both;
	width:80%;
	height:230px;
	margin-bottom:25px;
}

.MediaImage {
	clear:both;
	float:left;
	position:relative;
	left:15px;
	top:15px;
}

.MediaInfo {
	position:relative;
	top:15px;
	left:20px;
}

.MediaInfo h1{
	padding-bottom: 10px;
}

.section {
	color:white;
	background:#333333;
	position:relative;
	top:-30px;
	opacity:0.8;
	padding: 3px 3px 3px 0px;
	height:25px;
	width:105%;
}

.section h2{
	text-align:right;
	vertical-align:text-top;
}

select #CourseOptions{
	width:100%;
}

select #SectionsOptions{
	width:100%;
}

.Button {
	z-index: 999;
}

.Conversations {
	list-style-type: none;
	color: #444;
	margin-bottom: 40px;
}

.Conversations .Follow {
	background: #91C759;
}

.Conversations .Unfollow {
	background: #333;
}

.Conversations .Follow, .Conversations .Unfollow {
	float: right;
	font-size: 70%;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 7px;
	color: #fff !important;
	
	border-radius: 4px;
	padding: 3px;
}

.Conversations .Message {
	margin-top: 8px;
	display: -webkit-box;
	-webkit-box-direction: reverse;
	font-size: 80%;
}

.Conversations .Content {
	-webkit-box-flex: 1.0;
}

.Conversations .Votes {
	padding-left: 10px;
	text-align: left;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: end;
}

.Conversations .Votes .Actions {
	display: -webkit-box;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
}

.Conversations .Votes .Count {
	display: block;
	margin-right: 10px;
}

.Conversations h1 {
	color: #999;
	font-size: 14px;
	margin-top: 8px;
}


.Conversations .Author {
	font-weight: bold;
}

.Conversations .Author img {
	float: right;
	width: 2.5em;
	height: 2.5em;
	box-shadow: 0 0 3px rgba(0,0,0,0.7);
	border: solid 2px #fff;
	margin-left: 7px;
	margin-bottom: 7px;
}

.Conversations li.Selected {
	margin: 18px auto;
}

.Conversations .Question {
	border: solid 1px #c0c0c0;
	padding: 8px;
	position: relative;
}

.Conversations li + li:not(.Selected) .Question {
	border-top: none;
}

.Conversations li.Selected ~ li .Question {
	border-bottom: none;
}

.Conversations li.Selected ~ li {
	border-top: solid 1px #c0c0c0;
}

.Conversations li:last-child:not(.Selected) {
	border-bottom: solid 1px #c0c0c0;
}


.Conversations .Conversation {
	display: none;
}

.Conversations .Question a {
	text-decoration: none;
	color: inherit;
}

.Conversations .Question a:hover {
	color: #000;
}

.Conversations li.Selected .Conversation {
	display: block;
	margin-bottom: 20px;
}

.Conversations li.Selected .Question {
	background: #f0f0f0;
	border-bottom: solid 1px #c0c0c0;
}

.Conversations li.Selected .Question:after {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f0f0f0;
	position: absolute;
	top: 100%;
	content: " ";
	left: 50%;
	margin-left: -10px;
}

.Conversations li.Selected .Question:before {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #c0c0c0;
	position: absolute;
	top: 100%;
	margin-top: 1px;
	content: " ";
	left: 50%;
	margin-left: -10px;
}

.Upvote, .Downvote {
	font-size: 1.5em;
	width: 1em;
	height: 1em;
	color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
}

.Upvote {
	background-image: url('../../images/accent/up.png');
}

.Downvote {
	background-image: url('../../images/accent/down.png');
}

.Controls, .Tagger {
	background: #222;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

.Timeline {
	-webkit-box-flex: 1.0;
	position: relative
}



.TagWindow {
	z-index: 1999;
	padding: 20px;
	margin: 10px 0;
	background: rgba(120,120,120,.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	position: relative;
	border-radius: 9px;
	border: solid 1px #999;
}

.TagWindow:after {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(120,120,120,.8);
	position: absolute;
	right: 50%;
	content: " ";
	bottom: 100%;
	margin-left: -5px;
}

.TagWindow:before {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(120,120,120,.8);
	position: absolute;
	right: 50%;
	content: " ";
	bottom: 100%;
	margin-left: -5px;
	margin-top: -1px;
}

.Commands {
	position: relative;
}

.Commands ul {
	position: absolute;
	display: none;
	left: 100%;
	padding-left: 10px;
	bottom: 0;
	list-style-type: none;
}

.Commands ul li {
	background: #333;
	z-index: 999;
	position: relative;
	text-align: center;
	color: #fff;
	display: block;
	padding: 0 5px;
}

.Commands ul li:first-child {
	padding-top: 5px;
}

.Commands ul li:last-child {
	padding-bottom: 5px;
}

.Commands > a {
	display: block;
	text-decoration: none;
	
}

.Commands > a img {
	width: 16px;
	height: 16px;
	padding: 5px;
}

.Commands ul li:last-child:after {
	width: 0; 
	height: 0; 
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid #333;
	position: absolute;
	right: 100%;
	content: " ";
	bottom: 50%;
}

.Commands ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 2px;
}

.Commands .All a {
	background: #000
}

.Commands .Important a {
	background: #bddbed;
}

.Commands .Examable a {
	background: #e2edc1;
}

.Commands .Question a {
	background: #fffac0;
}

.Commands .Interesting a {
	background: #fedcc4;
}

.General a {
	background: #ffead0;
}

.Controls .Timeline {
	border: solid 1px #222;
	background: rgba(0,0,0,0.4);
	border-radius: 5px;
	margin: 10px;
}

.Controls .Timeline .Scrubber {
	display: block;
	margin-left: -0.35em;
	width: 0.7em;
	height: 0.7em;
	background: #444;
	border: solid 1px #666;
	border-radius: 50%;
	position: absolute;
}

.Controls .Timeline .Scrubber:after {
	position: absolute;
	display: block;
	content: " ";
	width: 1px;
	background: #444;
	height: 30px;
	top: 100%;
	left: 50%;
	margin-left: -1px;
}

.Play {
	display: block;
	width: 50px;
}

.Tagger {
}


.Tagger .Selected {
	border: solid 1px #fff;
	z-index: 999;
}

.Tagger .Timeline {
	margin-left: 60px;
	height: 12px;
	border: solid 1px #333;
}

body {
	-webkit-user-select: none;
}

.Tagger {

}

.Tagger .Tag {
	position: absolute;
	border-radius: 5px;
	background: red;
	height: 12px;
	opacity: 0.6;
	box-shadow: inset 0 0 3px rgba(0,0,0,1);
}

.TagWindow {
	display: none;
	position: absolute;
}

.TagWindow .Type {
	float: right;
}

.TagWindow .Description label {
	margin-top: 8px;
	margin-bottom: 4px;
	display: block;
}

.TagWindow label {
	color: #ccc;
}

.TagWindow .Buttons {
	text-align: right;
}

.TagWindow input, .TagWindow select, .TagWindow textarea {
	padding: 4px;
}

.Volume {
	position: relative;
}

.Volume input {
	-webkit-transform: rotateZ(90deg) translateX(-100%); 
	-webkit-transform-origin: bottom left;
	position: absolute; 
	left: 100%;
}

.Volume .Input {
	display: none;
}

.TagHere {
	position: relative;
	display: inline-block;
}

.Notifications {
 position: absolute;
 width: 300px;
 left: 0;
 bottom: 0;
 z-index: 222;
 -webkit-perspective: 2000;
 -khtml-perspective: 2000;
 -moz-perspective: 2000;
 -ms-perspective: 2000;
 -o-perspective: 2000;
 perspective: 2000;
}

.Notification {
 position: relative;
 padding: 10px;
 width: 100%;
 margin-bottom: 10px;
 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 overflow: hidden;
 
 background: #000;
 border: 1px solid #000;
 
 -webkit-box-shadow: rgba(0,0,0,0.35) 0px 3px 6px, inset rgba(255,255,255,0.15) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 1px;
 -moz-box-shadow: rgba(0,0,0,0.35) 0px 3px 6px, inset rgba(255,255,255,0.15) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 1px;
 box-shadow: rgba(0,0,0,1) 0px 0px 6px, inset rgba(255,255,255,0.15) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 0px 1px;
 
 -webkit-transform-style: preserve-3d;
 -khtml-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 -ms-transform-style: preserve-3d;
 -o-transform-style: preserve-3d;
 transform-style: preserve-3d;
 
 -webkit-backface-visibility: hidden;
 -khtml-backface-visibility: hidden;
 -moz-backface-visibility: hidden;
 -ms-backface-visibility: hidden;
 -o-backface-visibility: hidden;
 backface-visibility: hidden;
 
 -webkit-animation: flip 1s 1 linear;
 -khtml-animation: flip 1s 1 linear;
 -moz-animation: flip 1s 1 linear;
 -o-animation: flip 1s 1 linear;
 animation: flip 1s 1 linear;
 
 opacity: 0.9;
}

.Notification:before {
 position: absolute;
 width: 100%;
 height: 100%;
 
 margin-left: 50%;
 margin-top: -10px;
 padding-bottom: 10px;
 
 -webkit-transform-style: flat;
 -khtml-transform-style: flat;
 -moz-transform-style: flat;
 -ms-transform-style: flat;
 -o-transform-style: flat;
 transform-style: flat;
 
 -webkit-transform: skew(45deg);
 -khtml-transform: skew(45deg);
 -moz-transform: skew(45deg);
 -ms-transform: skew(45deg);
 -o-transform: skew(45deg);
 transform: skew(45deg);
 
 -webkit-animation: shine-in 1s 1 ease-out;
 -khtml-animation: shine-in 1s 1 ease-out;
 -moz-animation: shine-in 1s 1 ease-out;
 -ms-animation: shine-in 1s 1 ease-out;
 -o-animation: shine-in 1s 1 ease-out;
 animation: shine-in 1s 1 ease-out;
 
 background: -moz-linear-gradient(top, hsla(0,0%,100%,0.25) 0%, hsla(0,0%,100%,0) 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,100%,0.2)), color-stop(100%,hsla(0,0%,100%,0)));
 background: -webkit-linear-gradient(top, hsla(0,0%,100%,0.25) 0%,hsla(0,0%,100%,0) 100%);
 background: -o-linear-gradient(top, hsla(0,0%,100%,0.25) 0%,hsla(0,0%,100%,0) 100%);
 background: -ms-linear-gradient(top, hsla(0,0%,100%,0.25) 0%,hsla(0,0%,100%,0) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42ffffff', endColorstr='#00ffffff',GradientType=0 );
 background: linear-gradient(to bottom, hsla(0,0%,100%,0.25) 0%,hsla(0,0%,100%,0) 100%);
 content: " ";
 z-index: 555;
}

.Notification > h1, .Notification > span {
 position: relative;
}

.Notification > h1, .Notification > span {
 max-width: 100%;
 min-width: 55%;
 font-weight: bold;
 text-shadow: #000 0px 1px 1px;
}

.Notification > h1 {
 color: #f5f5f5;
 font-size: 18px;
}

.Notification > span {
 color: #aaa;
 font-size: 0.6em;
}

.Notification .Close {
 font-family: "Pictos";
 position: absolute;
 right: 10px;
 top: 10px;
 font-size: 22px;
 z-index: 774;
 color: #000;
}

.Notification .Close:hover {
 color: #fff;
 cursor: pointer;
}

.Notification a {
 font-weight: bold;
 color: #ddd;
}

.Notification img {
 width: 48px; 
 float: left; 
 margin-right: 10px;
}

@-webkit-keyframes flip {
      0% {-webkit-transform: rotateY(-90deg);opacity: 0;border-right-width: 30px;}
     80% {-webkit-transform: rotateY(10deg);border-right-width: 0px;}
     95% {-webkit-transform: rotateY(-1deg);}
    100% {-webkit-transform: rotateY(0deg);}
}
@-webkit-keyframes shine-in {
      0% {margin-left: 100%;}
    100% {}
}



@-khtml-keyframes flip {
      0% {-khtml-transform: rotateY(-90deg);opacity: 0;border-right-width: 30px;}
     80% {-khtml-transform: rotateY(10deg);border-right-width: 0px;}
     95% {-khtml-transform: rotateY(-1deg);}
    100% {-khtml-transform: rotateY(0deg);}
}
@-khtml-keyframes shine-in {
      0% {margin-left: 100%;}
}
@-khtml-keyframes text-in {
      0% {margin-left: 25%;margin-right: -25%;}
}


@-moz-keyframes flip {
      0% {-moz-transform: rotateY(-90deg);opacity: 0;border-right-width: 30px;}
     80% {-moz-transform: rotateY(10deg);border-right-width: 0px;}
     95% {-moz-transform: rotateY(-1deg);}
    100% {-moz-transform: rotateY(0deg);}
}
@-moz-keyframes shine-in {
      0% {margin-left: 100%;}
}
@-moz-keyframes text-in {
      0% {margin-left: 25%;margin-right: -25%;}
}


@-ms-keyframes flip {
      0% {-ms-transform: rotateY(-90deg);opacity: 0;border-right-width: 30px;}
     80% {-ms-transform: rotateY(10deg);border-right-width: 0px;}
     95% {-ms-transform: rotateY(-1deg);}
    100% {-ms-transform: rotateY(0deg);}
}
@-ms-keyframes shine-in {
      0% {margin-left: 100%;}
}
@-ms-keyframes text-in {
      0% {margin-left: 25%;margin-right: -25%;}
}


@-o-keyframes flip {
      0% {-o-transform: rotateY(-90deg);opacity: 0;border-right-width: 30px;}
     80% {-o-transform: rotateY(10deg);border-right-width: 0px;}
     95% {-o-transform: rotateY(-1deg);}
    100% {-o-transform: rotateY(0deg);}
}
@-o-keyframes shine-in {
      0% {margin-left: 100%;}
}
@-o-keyframes text-in {
      0% {margin-left: 25%;margin-right: -25%;}
}


@keyframes flip {
      0% {-o-transform: rotateY(-90deg);opacity: 0;border-right-width: 30px;}
     80% {-o-transform: rotateY(10deg);border-right-width: 0px;}
     95% {-o-transform: rotateY(-1deg);}
    100% {-o-transform: rotateY(0deg);}
}
@keyframes shine-in {
      0% {margin-left: 100%;}
}
@keyframes text-in {
      0% {margin-left: 25%;margin-right: -25%;}