!!!
html
	head
		title Real Questions Real Answers - #{title}
		
		// stylesheets
		link(rel="stylesheet", href="../stylesheets/rqra/main.css")
		link(rel="stylesheet", href="../stylesheets/rqra/header.css")
		link(rel="stylesheet", href="../stylesheets/rqra/timeline.css")
		link(rel="stylesheet", href="../stylesheets/rqra/courseList.css")
		link(rel="stylesheet", href="../stylesheets/rqra/questionList.css")
		link(rel="stylesheet", href="../stylesheets/rqra/questionForm.css")
		link(rel="stylesheet", href="../stylesheets/rqra/notificationMenu.css")
		
		// third party libraries
		script(type="text/javascript", src="../javascripts/jquery-1.7.2.min.js")
		script(type="text/javascript", src="../javascripts/jquery.timeago.js")
		
		// helper libraries
		script(type="text/javascript", src="../javascripts/core.api.js")
		script(type="text/javascript", src="../javascripts/rqra/elementFactory.js")
		
		// component managers
		script(type="text/javascript", src="../javascripts/rqra/courseList.js")
		
		// global variables
		script(type='text/javascript')
			var common = new coreApi.Common();
			var rqra = new coreApi.Presenter();
			
			var currentCourse = "";
			var currentWeek = 0;
	body!=body