.clearfix:after {
	visibility: hidden;
	font-size: 0.1em;
	display: block;
	line-height: 0;
	height: 0.1px;
	content: " ";
	clear: both;
}

.clear{
	
	clear: both;
}

body{
	color: #9e9e9e !important;
}

.row{	
	width: 1280px;
}


/* -----------------------------------------
   Header and Navigation
----------------------------------------- */
div#header{
	background-color: rgba(0,0,0,0.1);
	font-family: "Lato", sans-serif;
	-moz-box-shadow: 0 0 5px #9e9e9e;
	-webkit-box-shadow: 0 0 5px #9e9e9e;
	box-shadow: 0 0 5px #9e9e9e;
}

div#header img.logo{
	margin: 0;
	padding: 5px;
	padding-top: 15px;
	height: 60px;	
}


div#nav{	
}
div#nav ul{
	padding-bottom: 0;
	margin-bottom: 0;
}

div#nav li{
	background-color: rgba(0,0,0,0);
	color: black !important;
	border: 0;
	text-align: left;
	padding-right: 20px;
	padding-bottom: 0px;
	position: relative;
	
}

div#nav li a{
	color: #9e9e9e !important;
	text-align: left;
	border: 0;
}

div#nav #options li a{
	color: #9e9e9e !important;
	text-align: left;
	padding: 0;
	
}

div#nav #options li a.active{
	border-bottom: 4px solid #9e9e9e;
}

div#nav ul#options li:hover a{
	border-bottom: 4px solid #9e9e9e;
}

/* -----------------------------------------
   mobile view of navigation bar
----------------------------------------- */

ul#mobile-nav {
	list-style: none;
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
}

ul#mobile-nav li{
	display: inline;
}

ul#mobile-nav .button{
	padding: 8px;
}

ul#mobile-nav li.course{
	display: inline;
	width: 120px;
}

#header .nav-bar{
	margin-top: 5px;
	background-color: rgba(0,0,0,0)
}

#header .nav-bar li{
	padding-right: 0;
}

#options.nav-bar li{
	margin-right: 20px;
}


/* -----------------------------------------
   right section of the HEADER, course and user box
----------------------------------------- */

#header .dropdown .nav-bar{
	margin-top: 5px !important;
	background-color: #f2f2f2 ;
}


div.dropdown#user_options{
	margin-top: 10px;
}

div.dropdown ul{
	float: right;
	border: 0;
	background-color: white;
	}
	
div.dropdown ul li{
	border: 0;
	color: #9e9e9e !important;
	width: 166.667px !important;
	}
	
	
div.dropdown ul li a{
	color: #9e9e9e !important;
	}	
	
.nav-bar > li.has-flyout > a:first-child::after {
	/*this is for the down arrow*/
	border-color: #b3b3b3 transparent transparent transparent;
	}
	
.nav-bar > li:last-child {
	border: 0 !important;
	}


.nav-bar#user_options_list > li.has-flyout > a:first-child{
	font-weight: bold;


}

.nav-bar#user_options_list li:hover{
	background-color: inherit;
	color: inherit;
	}
#user_options_list img.avatar{
	height: 38px;
	position: absolute;
	margin-left: -58px;
}


.dropdown ul#courses_list{
	height: 30px !important;
	
}

.dropdown ul#courses_list li{
	line-height: 30px !important;
	
	}
	
.dropdown ul#courses_list ul{
	margin-top: -9px;
}
/* -----------------------------------------
   box container of articles previews
----------------------------------------- */


div#wrap{
	margin: 0 auto;
	background-color: #f5f5f5 ;
	padding-bottom: 20px;

}
	
div#contents{
	font-family: "Lato", sans-serif;
	
}

div#contents div.columns{
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	min-width:297px;
}

div#contents div.columns:last-child{;  
	float: left !important;
	}


/* -----------------------------------------
   box container of articles previews
----------------------------------------- */

div.innercontents{
	background-color: #fffffb ;
	position: relative;
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.35);
	-webkit-box-shadow: :0px 0px 7px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 7px rgba(0,0,0,0.35);
}

div.innercontents.color-1{
	border-top: 4px solid #d35f5e;
}

div.innercontents.color-2{
	border-top: 4px solid #2BA6CB;
}

span.coursename a.color-1{
	 color:#d35f5e;

 }

span.coursename a.color-2{
	color:#2BA6CB;

}
div.innercontents form textarea{
	height: 200px;
	resize: none; 
	}


div.innerwrap > img {
bottom: 0;
	position: absolute;
	opacity: 0.4;
	-webkit-transition: all 0.5s ease-in-out;
}

div.innerwrap > img:hover {
	
}

div.innerwrap{
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.62) 0%, rgba(0,0,0,0.12) 27%, rgba(0,0,0,0.01) 42%, rgba(0,0,0,0.06) 53%, rgba(0,0,0,0.48) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.62)), color-stop(27%,rgba(0,0,0,0.12)), color-stop(42%,rgba(0,0,0,0.01)), color-stop(53%,rgba(0,0,0,0.06)), color-stop(100%,rgba(0,0,0,0.48))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.62) 0%,rgba(0,0,0,0.12) 27%,rgba(0,0,0,0.01) 42%,rgba(0,0,0,0.06) 53%,rgba(0,0,0,0.48) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.62) 0%,rgba(0,0,0,0.12) 27%,rgba(0,0,0,0.01) 42%,rgba(0,0,0,0.06) 53%,rgba(0,0,0,0.48) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.62) 0%,rgba(0,0,0,0.12) 27%,rgba(0,0,0,0.01) 42%,rgba(0,0,0,0.06) 53%,rgba(0,0,0,0.48) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.62) 0%,rgba(0,0,0,0.12) 27%,rgba(0,0,0,0.01) 42%,rgba(0,0,0,0.06) 53%,rgba(0,0,0,0.48) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e000000', endColorstr='#7a000000',GradientType=0 ); /* IE6-9 */

	background-repeat: repeat-x, no-repeat;
	background-position: top, center;
	background-size: auto, cover;
	height: 200px;
	position: relative;
	opacity: 0.90;
	padding: 0;
	overflow: hidden;
	

}

div.innercontents h5{
	width:100%;
	overflow: hidden;
	margin-top : 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	padding: 18px;
	position: absolute;
	bottom: 0;
	}
	
div.innercontents h5 a{
	font-size: 30px;
	font-family: "Cambria", sans-serif;
	color: white;	
	text-shadow: 1px 1px 5px black;
}
div.post_details {
	padding-left: 50px;
	height: 65px;
	padding-top: 10px;
	}
div.innercontents img.avatar{
	height: 49px;
	position: absolute;
	margin-left: -5px;
	margin-top:8px;
}

div.post_details{
	font-family: "Lato", sans-serif;
	color: #9e9e9e;
}

div.post_details span{
	font-weight: 900;
}

div.post_details p{
	font-weight: 400;
	margin:0;
	padding:0;
	padding-top: 5px;
}
div.post_details p a{
	color: #d35f5e;
	font-weight: 900;
	padding-left: 2px;
	}



div.innercontents .post_time{
	white-space: nowrap;
	overflow: hidden;
	font-weight: 400;
	}
	
div.innercontents #prof{
	background-color: #2BA6CB;
	border-radius: 10px;
	color:white;	
	margin-left: 5px;
	padding: 1px;
	padding-top:3px;
	padding-bottom: 0;
	float: right;
}


div.articlepreview{
	padding: 18px;
	padding-top: 12px;
	max-height: 55px;
	overflow: hidden;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 12px;
	opacity: 0.5;
	}
div.articlepreview p{
	font-size: 12px !important;
	line-height: 1.2 !important;
	text-overflow: ellipsis
}


div.post_details p{
	font-size:12px !important;
	margin-top: 2px;
}

div.post_details span.coursename{
}

div.post_details span.coursename:hover{
	cursor: pointer;
	}
	
div.likescomments{
	text-align: right;
	padding: 10px;
	
}
div.likescomments span{
	font-size: 12px;
	padding-left: 10px;
	vertical-align: text-top;
	
	}
	
div.likescomments span.typicn.star{
	color:white;
	-moz-text-stroke: 1px #9e9e9e;
	-webkit-text-stroke: 1px #9e9e9e;
	font-size: 16px;
	cursor: pointer;
}

div.likescomments span.typicn.star:hover{
	color: yellow;
	
}
div.likescomments span.typicn.starred{
	color: yellow;
}

div.likescomments span.typicn.starred:hover{
	color: white;
}


/* -----------------------------------------
   Article sharing box
----------------------------------------- */

div.selectcourse{
	display: inline;
	float: left;
	}
div.innercontents#submitnew{
	padding: 10px;
}


	
#sumbitrow{
	display: inline-block;
	width: 100%;

}

#sumbitrow .small.button{
	width : 54px;
	background-color: gray;
	border: 0;
}
div.submit{
	display: inline;
	position: relative;
	float: right;
	margin-top: 2px;

}
/* -----------------------------------------
   Article
----------------------------------------- */

	
div#article_container{
	font-family: "Lato", sans-serif;
	margin-top: 40px;
	-moz-box-shadow: 0 0 5px #9e9e9e;
	-webkit-box-shadow: 0 0 5px #9e9e9e;
	box-shadow: 0 0 5px #9e9e9e;
	background-color:  rgba(0,0,0,0.05);
	
}
div#article_container #article{
	padding: 1em 3em 4em;
	font-size: 14px;
	word-spacing: -0.05em;
	line-height: 1.3em;
	

}

div#article_container #article img{
	display: block;
	}
#article_options{
	margin-top: 30px;
	padding: 0em 3em 0em;
	}
	
#article_options #back{
	font-weight: bold;
	}
	
#article_options #options{
	margin-left:10px;
	float: right;
	
}
#article_options #options a{	
	margin-left: 10px;
	margin-right: 10px;
	}
	
#article_options span#course{
	float: right;
}	
div#article_container #article h1{
	font-family: "Cambria", sans-serif;
	font-size: 24px;
}

#article h2, #article h3,#article h4,#article h5,#article h6{
	font-family: "Cambria", sans-serif;
	font-size: 20px;
}


div#article_container .columns:first-child{
	background-color: #f9f9f9;
	-moz-box-shadow: 0 0 5px #9e9e9e;
	-webkit-box-shadow: 0 0 5px #9e9e9e;
	box-shadow: 0 0 5px #9e9e9e;
}


div#article_container #comments{
	margin: 0;
	padding: 0;

}

div#article_container #comments #owner_comment{
	padding: 10px;
	-moz-box-shadow: 0 0 1px #9e9e9e;
	-webkit-box-shadow: 0 0 1px #9e9e9e;
	box-shadow: 0 0 1px #9e9e9e;
	background-color:  rgba(0,0,0,0.05);

	}

div#article_container #comments h5{
	padding: 10px;
}


div#article_container #comments span.name{
	font-size: inherit;
	font-weight: 700;
	font-style: normal;
}

div#article_container #comments span{
	font-size: 12px;
	font-weight: 300;
	font-style: italic;
}

div#article_container #comments span.like_reply{
	float: right;
	font-style: normal;
	color: #9e9e9e;
	}
	
#comments span.like_reply a{
	color: #9e9e9e;
	cursor: pointer;
	padding-left: 5px;
	}

div#article_container #comments div{
	margin: 0;
	padding: 10px;
	}

div#article_container #comments .comment{
	padding: 10px;
	-moz-box-shadow: 0 0 1px #9e9e9e;
	-webkit-box-shadow: 0 0 1px #9e9e9e;
	box-shadow: 0 0 1px #9e9e9e;
	background-color:  rgba(0,0,0,0.05);
	
}
div#article_container #comments .replies{
	padding: 10px;
	-moz-box-shadow: 0 0 1px #9e9e9e;
	-webkit-box-shadow: 0 0 1px #9e9e9e;
	box-shadow: 0 0 1px #9e9e9e;
	padding-left: 40px !important;
	}

#comments .reply_box{
	
}

#comments .reply_box textarea{
	width: 80%;
	display: inline;
	min-height: 40px;
	font-size: 12px;
	margin-top:2px;
	resize: none; 
}

#comments .reply_box input{
	float: right;
	width: 20%;
	display: block;
	min-height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.05);
	color: #9e9e9e;
	
}
/* -----------------------------------------
   courses
----------------------------------------- */
	
div#course	{	
	margin-top: 20px;
	font-family: "Lato", sans-serif;
	
}

div#info, div#week-info {
	padding: 10px;
	
}
div#info ul,div#week-info ul{
	list-style: none;
}

div#info ul li span,div#week-info ul li span{
	font-weight: bold;
	}
	

/* -----------------------------------------
   weeks-bar
----------------------------------------- */
	
#weeks-bar {

	display: inline;
	text-align: center;
	margin: 20px 0 10px 0;
	}
#weeks-bar ul{
	list-style: none;
	text-align: center;
	position: relative;
	display: inline;
}

#weeks-bar ul li{
	display: inline;
	margin: 2px;
	}
	
	
#weeks-bar ul li a{
	font-family: "Lato", sans-serif;
	font-size: 12px;
	display: inline-block;
	width: 48px;
	height: 30px;
	border-top: #9e9e9e 5px solid;
	/*background-color: #9e9e9e;*/
	opacity: 0.5;
	color: #9e9e9e;
	padding-top: 5px;
}

#weeks-bar ul li a#week{
	/*background-color: transparent;*/
	border-top: none;
	color: #9e9e9e;
	padding-top: 5px;
}

#weeks-bar ul li:hover a{
	opacity: 1;
}

#weeks-bar ul li a:active{
	opacity: 1;
}

#weeks-bar ul li a.active{
	opacity: 1;
}

/* -----------------------------------------
   preference
----------------------------------------- */

div#preference{
	font-family: "Lato", sans-serif;
	margin-top: 30px;
	padding: 20px;
	background-color: #F9F9F9;
}

div#preference_header{
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.05);
}

div#preference ul.tabs-content{
	min-height: 400px;
}


div#preference #edit_info_column textarea{
	resize:none;
	height: 100px;
	
	}
div#preference #edit_info_column input:focus{
	background-color: white;
	}
div#preference #edit_info_column textarea:focus{
	background-color: white;
	}
div#preference .columns:first-child{
	padding-right: 25px;
}
div#preference img.avatar{
	width: 120px;
}
div#upload_avatar{
	text-align: center;
	padding: 5px 10px;
	border: 1px solid #9e9e9e;
	width: 120px;
}

div#preference .columns:first-child a{
	float: right;	
	}
div#preference .columns:last-child{
	float: left;
}

div#preference div#edit_box h4{
	margin-top: 0;
}

div#preference #edit_info_column input.button{

}

div#preference #setting_detail{
	margin-left: 20px;
}

div#preference #notification ul{
	list-style-type: none;
	display: inline-block;
}

div#preference #notification ul.checkbox_column{
	display: inline-block;
}

div#preference #notification ul.checkbox_column li input{
	margin-left: 12px;
	font-size: 20px;
	vertical-align: middle;
}
div#preference #notification ul li{
	line-height: 2em;
}

div#preference #notification ul.checkbox_column li span{
	margin-left: 12px;
	font-size: 15px;
	vertical-align: middle;
}

div#preference #notification ul li input{
	margin-top: 10px;
}

div#preference #notification input.button{
	display: block !important;
	width: 120px;
	text-align: center;
}
/* -----------------------------------------
   overwriting fundation's tab
----------------------------------------- */
dl.tabs dt{
	font-weight: bold;
}
dl.tabs dd.active{
	border: none;
	margin-top: 0;
}
dl.tabs dd.active a{
	background: none; 
	border: none;
}