.row{
	width: 1280px !important;
}
div#header{
	background-color: rgba(0,0,0,0.1);

}

div#header h1{
	margin: 0;
	padding: 0;
}
div#nav li{
	background-color: rgba(0,0,0,0);
	color: black !important;
	border: 0px;
	text-align: left;
	padding-right: 20px;
	
}
div#nav ul{
	display: inline-block;
	width: 100%
	}

div#nav li a{
	color: black !important;
	text-align: left;
}

div#nav #options li a{
	color: black !important;
	text-align: left;
	padding: 0;
	
}

div#nav ul#options li:hover a{
	border-bottom: 3px solid #2BA6CB;
}

li#courselist{
	float: right;
	padding-right:0 !important;
}
li#courselist a{
	padding-right:0;
}

ul#course-nav{
	list-style: none;
}
ul#mobile-nav {
	list-style: none;
	margin: 0;
}

ul#mobile-nav li{
	display: inline;
}
#header .nav-bar{
	margin-top: 5px !important;
	background-color: rgba(0,0,0,0) !important;
}



div#userbox{
	text-align : right;
	padding-top : 5px;
	padding-bottom: 5px;
}


.nav-bar > li.has-flyout > a:first-child::after {
	border: 0 !important;
	}
	
	
div#contents{
	padding-left: 10px;
	padding-top: 10px;
}

div#contents div.columns{
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 6px;
}
div#contents div.columns:last-child{
	float: left !important;
	}

div.innercontents{
	margin: 5px;
	padding: 10px;
	background-color: rgba(166,165,165,0.1) ;
}


div.innercontents h5{
	style : min-height: 36px;
	}
div.innercontents img{
	height: 160px;
	}

div.innercontents #prof{
	background-color: #2BA6CB;
	border-radius: 10px;
	color:white;	
	margin-left: 5px;
	padding: 1px;
	padding-top:3px;
	padding-bottom: 0;
	float: right;
}
div.innercontents:hover{
	background-color: rgba(43,166,203,0.1) ;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
	}

div.articlepreview{
	max-height: 55px;
	overflow: hidden;
	}
div.articlepreview p{
	font-size: 12px !important;
	line-height: 1.2 !important;
}

div.selectcourse{
	display: inline;
	float: left;
	margin-left: 10px;
	}
#sumbitrow{
	display: inline-block;
	width: 100%;
}
div.submit{
	display: inline;
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: 2px;
}

div.post_details p{
	font-size:12px !important;
	padding-top: 2px;
}

div.post_details span.coursename{
	border: 1px solid black;
	padding-left: 1px;
	padding-right: 1px;
}

div.post_details span.coursename:hover{
	cursor: pointer;
	}
	
div.likescomments{
	text-align: right;
	padding-top: 10px;
}
div.likescomments span{
	font-size: 12px;
	padding-left: 10px;
	vertical-align: text-top;
	
	}
	
div.likescomments span.typicn.star{
	color:white;
	-webkit-text-stroke: 1px black;
	font-size: 16px;
	cursor: pointer;
}

div.likescomments span.typicn.star:hover{
	color: yellow;
	
}
	
div#article_container{
	padding-top: 2em;
}
div#article_container #article{

	padding: 1em 3em 4em;
	font-size: 14px;
	word-spacing: -0.05em;
	line-height: 1.3em;

}

div#article_container #article img{
	display: block;
	}
#article_options{
	padding: 0em 3em 0em;
	}
	
#article_options #back{
	font-weight: bold;
	}
	
#article_options #options{
	margin-left:10px;
	
}
#article_options #options a{	
	margin-left: 10px;
	margin-right: 10px;
	}
	
#article_options span#course{
	float: right;
}	
div#article_container #article h1{
	font-size: 24px;
}

div#article_container #article h2{
	font-size: 20px;
}


div#article_container #comments{

	}
	
div#footer{
	margin-top: 20px;
	padding-top:10px;
	background-color: rgba(0,0,0,0.1);
	text-align: center;
}