/*@media all and (max-width: 1180px) and (min-width: 891px){*/
	/*#contents{margin-left: 10%}*/


/*}*/

/*@media all and (max-width: 890px) and (min-width: 800px){*/
	/*#contents{margin-left: 12%}*/


/*}*/

/*@media all and (max-width: 879px) and (min-width: 767px){*/
	/*#contents{margin-left: 15%}*/


/*}*/

::-webkit-scrollbar {
	height: 10px;
	overflow: visible;
	width: 10px;
}

::-webkit-scrollbar:horizontal {

	height: 0;
	
	}
::-webkit-scrollbar-thumb {
	background-color: rgba(158, 158, 158, 0.5);

	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	padding: 100px 0 0;

}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(158, 158, 158, 1);

}

::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-track {
	background-color: rgba(250, 250, 250, 1);

	border: solid transparent;
	border-width: 0 0 0 4px;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

img{border:0}
em {
	font-style: normal;
}

.hide{
	display: none;
}

.clearfix:after {
	visibility: hidden;
	font-size: 0.1em;
	display: block;
	line-height: 0;
	height: 0.1px;
	content: " ";
	clear: both;
}

.clear{
	
	clear: both;
}

body{
	padding-bottom: 20px;
	overflow-x: hidden;
	background-image: url("/images/engage/light_toast_bg_lighter.png");
}

.row{	
	width: 1190px;
}


/* -----------------------------------------
   splash & 404 page
----------------------------------------- */

body#splash{
	text-align: center;
	color: #555;
	font-family: "Lato", sans-serif;
}

body#splash .button{
	border-radius: 2px;
	border-color: #555;
	background-color: #888;
	margin: 10px;
	min-width: 200px;
	}
	
body#splash #login_as{
	margin-top: 20px;
}
body#splash #login_as p{
	margin-bottom: 5px;
}	
body#splash #login_as a{

	margin-top: 5px;
}

/* -----------------------------------------
   Header and Navigation
----------------------------------------- */
div#header{
	background-color: rgba(0,0,0,0.1);
	font-family: "Lato", sans-serif;
	-moz-box-shadow: 0 0 5px #9e9e9e;
	-webkit-box-shadow: 0 0 5px #9e9e9e;
	box-shadow: 0 0 5px #9e9e9e;
}





#header ul#options{
	list-style: none;
	white-space: nowrap;
	float: left;
	margin-bottom: 0;
	margin-left: 10px;
}

#header ul#options li{
	display: inline-block;
	vertical-align: middle;
	color: #555;
	text-align: left;
}

#header ul#options li a{
	color:  rgba(250, 250, 250, 0.97);
	height: 90px;
	padding: 0 8px;
	padding-top: 36px;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	text-shadow: 0 0 5px black;



}
#header ul#options li a span{
	padding-bottom: 10px;
}
#header ul#options li a.active{
	background-color: rgba(0, 0, 0, 0.5);
}

#header ul#options li a.active span{
	border-bottom: 4px solid rgba(250, 250, 250, 0.9);
}
#header ul#options li:hover{
	background-color: rgba(0, 0, 0, 0.5);
}
#header ul#options li:hover a span{
	border-bottom: 4px solid rgba(250, 250, 250, 0.9);
}

#header ul#options li:hover:first-child a{
	/*border-bottom: 0;*/


	}


#header #nav-bar{
	text-align: right;
}

#header.banner{
	background-image: url("/images/engage/sfu_brand_banner.png");
	background-position: center;
}
#header #banner_logo{
	line-height: 90px;
	vertical-align: middle;
	display: inline-block;
	padding-left: 8px;
}
#header #banner_logo img{
	vertical-align: middle;
	padding-bottom: 2px;
	}	
#header img.logo#small_logo{
	min-width: 70px;
}
#header.banner img.logo{
	vertical-align: middle;
}	

/* -----------------------------------------
   mobile view of navigation slider
----------------------------------------- */
#sliderMenu{
	text-align: center;
	margin-top: 0;
	clear: both;
}
#sliderMenu li{
	display: inline;
	padding: 10px 20px;
	background: white;
	-moz-box-shadow: 0px 1px 5px #9e9e9e;
	-webkit-box-shadow: 0px 1px 5px #9e9e9e;
	box-shadow :0px 1px 5px #9e9e9e;
	border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border: 0 0 15px 15px;
	color: #888;
	font-weight: bold;
}

#sliderMenu li a{
	color: #555;
	font-weight: bold;
	cursor: pointer;
	}
.slider_box{
	background-color: white;
	margin-bottom: 8px;
	position: relative;
	clear: both;
	-moz-box-shadow: 0px 1px 5px #9e9e9e;
	-webkit-box-shadow: 0px 1px 5px #9e9e9e;
	box-shadow :0px 1px 5px #9e9e9e;
	display: none;
	text-align: center;
	padding: 10px 0 !important;

	
}
.slider_box ul{
	display: inline-block;
	margin-bottom: 0;
	width: 85%;
	padding: 0 20px;
	}
	
.slider_box li{
	list-style: none;
	
	padding: 5px 0;
}	

.slider_box li a{
	color: #888;
	}



.slider_box#menu_box ul li{

	width:50%;
	float: left;
	text-align: left;
	display: inline-block;
}

.slider_box#courses_box ul{

}
.slider_box#courses_box li{
	display: inline-block;
	width: 33%;
	float: left;
	
	text-align: left;

}
.slider_box#courses_box li a{
	border-left: 4px solid #F14241;
	padding-left: 5px;}

.slider_box#mobile_share_box{
	overflow: visible !important;
}
.slider_box#mobile_share_box form{
	margin: 20px;
}

.slider_box#mobile_share_box .button{
	width: 100px;
	border-radius: 2px;
	border-color: #555;
	background-color: #888;
}

.slider_box#mobile_share_box .selectcourse .dropdown{
	width: 104px !important;
	}

.slider_box#mobile_share_box .selectcourse .dropdown a.current{
	width: 104px;
	}
.slider_box#mobile_share_box .selectcourse .dropdown ul{	
	width: 104px !important;
	}

/* -----------------------------------------
   right section of the HEADER, course and user box
----------------------------------------- */
div#user_options{
	padding-right:0;
	min-width: 320px;
}


ul#user_options_list{
	list-style: none;
	text-align: right;
	white-space: nowrap;
	display: block;
	padding-top:18px;
	margin-bottom: 10px;
}

ul#user_options_list li{
	margin: 0 5px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	color: #555;

	}
ul#user_options_list li#notification {
	margin-top: 9px;
	margin-right: -4px;
}

li.center {
	text-align: center;
	padding-top: 20px;
}

ul#user_options_list li#notification div{
	background-color: transparent;
}

ul#user_options_list li#notification_mobile div{
	background-color: transparent;
}

ul#user_options_list li div{
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.75);
	padding-left: 5px;
	color: white;
	}
	
ul#user_options_list div.dropdown_btn{
	-moz-box-shadow: 0 0 2px black;
	-webkit-box-shadow: 0 0 2px black;
	box-shadow: 0 0 2px black;
	padding: 4px 8px;
} 	


ul#user_options_list li img{
	height: 45px;
	width: 45px;
	-moz-box-shadow: 1px 1px 5px rgb(65,65,65);
	-webkit-box-shadow: 1px 1px 5px rgb(65,65,65);
	box-shadow: 1px 1px 5px rgb(65,65,65);
	}
	
ul#user_options_list li img.user_avatar{
	float :left;
	}
	
ul#user_options_list span.notification_number{
	display: block;
	position: absolute;
	background-color: rgb(255,39,39);
	-moz-box-shadow: 1px 1px 5px black;
	-webkit-box-shadow: 1px 1px 5px black;
	box-shadow: 0px 1px 4px black;
	width: 18px;
	height: 18px;
	color: white;
	font-weight: bold;
	text-align: center;
	margin-left: -9px;
	margin-top: -17px;
	line-height: 18px;
}
	
ul#user_options_list li div.dropdown_list{
	/*display: none;*/
	position: absolute;
	z-index: 100;
	text-align: left;
	background: transparent;

}
ul#user_options_list li div.dropdown_list li{
	display: block;
	}
	
ul#user_options_list li div.dropdown_list li:first-child{
	border-top: 0px;
}
ul#user_options_list li div.dropdown_list.hide{
	display: none;

}
	

div.dropdown_list ul{
	margin: 0;
	padding: 0 !important;
	position: absolute;
	-moz-box-shadow: 1px 1px 2px #9e9e9e;
	-webkit-box-shadow: 1px 1px 2px #9e9e9e;
	box-shadow: 1px 1px 2px #9e9e9e;
	margin-left: -10px;
	margin-top:	15px;

	}
	
div.dropdown_list li{
	border: 1px solid #E6E6E6;
	border-width: 1px 1px 0 0;
	margin: 0 !important;
	background: rgba(250, 250, 250, 1);
	width: 120px;
	color: #555;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	}

 
 div.dropdown_list li:hover{
 	background-color: #e9e9e9;
 }

 div.dropdown_list#notif ul{
	 margin-left: -324px;
	 margin-top: 0px;
 } 
 div.dropdown_list#notif li{
	 width: 370px;
	 height: 64px;
 }
 
div.dropdown_list#notif p.msg{
	  white-space: normal;
	  margin-bottom: 0;
	  color: #555;
  }
  
a.notification img{
	height: 35px; 
	width: 35px;
	float: left;
	margin-right: 10px;
	z-index: 10px;
 }
div.dropdown_list#notif p.msg span.coursename{
	font-weight: bold;
   }
 div.dropdown_list li a{
 	padding: 8px 12px;
	 color: #555;
	 display: inline-block;
	 width:100%;
	 height: 100%;
 }

div.dropdown_list#course_list ul{
	margin-left: -47px;
}




ul#user_options_list span.typicn.next{
	position: absolute;
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);	
}
#mobile_logo_box{
	padding-left: 8px;
}

li.mobile_view ul{
	margin-left: -100px;
	z-index: 100;
 
 }
li.mobile_view{
	margin: 0 !important;
}

li.mobile_view	div.expand_btn{
	position: inherit;
	height: 30px;
	-moz-box-shadow: 1px 1px 5px black;
	-webkit-box-shadow: 1px 1px 5px black;
	box-shadow: 1px 1px 5px black;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: text-bottom;
	line-height: 30px;
	font-size: 14px;
	padding-right: 8px;
	}


li.mobile_view div#mobile_notif ul{
	margin-top: 0;
	margin-left: -122px !important;	
	}
 
li.mobile_view div#mobile_notif li{
	width: 280px;
}

li.mobile_view div#mobile_notif li p.msg{
	white-space: normal;
	margin-bottom: 0;
}




#mobile_notif li{
	height: 70px;
	}

#mobile_user_info ul{
	margin-left: -12px;
}
#user_options_mobile ul#user_options_list{
	padding-top: 12px !important;
	margin-bottom: 16px !important;
}

#user_options_mobile li#notification_mobile{
	margin-left: -50px !important;
	margin-top: -8px !important;
}
/* -----------------------------------------
   box container of articles previews
----------------------------------------- */


div#wrap{
	margin: 0 auto;
	background-color: #f5f5f5 ;
	padding-bottom: 20px;

}
	
div#contents{
	font-family: "Lato", sans-serif;
	
}

div#contents div.columns{
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	min-width:297px;
}

div#contents div.columns:last-child{;  
	float: left ;
	}


/* -----------------------------------------
   box container of articles previews
----------------------------------------- */

.articlebox .delete_btn{

	font-size: 13px;
	position: absolute;
	right:5px;
	top:5px;
	background-color: #f3f3f3;
	border: 1px solid #d9dad5;
	padding: 1px 3px;
	cursor: pointer;
	opacity: 0.6;

}

.no-touch .articlebox .delete_btn{

display: none;

}

.no-touch .articlebox .delete_btn:after{
	content: "DELETE";
	font-size: 12px;
	position: absolute;
	right:-1px;
	top:15px;

	background-color: #f3f3f3;
	border: 1px solid #d9dad5;
	padding: 1px 3px;
	text-align: center;
	display: none;
}

.no-touch .articlebox .delete_btn:hover{
	opacity: 1;
}

.no-touch .articlebox .delete_btn:hover:after{
	display: block;
}



.no-touch .articlebox:hover .delete_btn{
	display: block;


}

div.innercontents{
	/*background-color: rgba(0,0,0,0.02) ;*/
	background-color: #fff;
	position: relative;
	height:360px;
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 7px rgba(0,0,0,0.35);
	font-family: "Lato", sans-serif;
}

div.innercontents.color-1{
	border-top: 4px solid #FF6A68;
}

div.innercontents.color-2{
	border-top: 4px solid #FFCE7A;
}

div.innercontents.color-3{
	border-top: 4px solid #4FA2F7;
}

div.innercontents.color-4{
	border-top: 4px solid #8FD960;
}

div.innercontents.color-5{
	border-top: 4px solid #D3B2ED;
}

div.innercontents.color-6{
	border-top: 4px solid #7ADFC7;
}



span.coursename a.color-1{
	color:#FF6A68;

}

span.coursename a.color-2{
	color:#FFCE7A;

}


span.coursename a.color-3{
	color:#4FA2F7;

}

span.coursename a.color-4{
	color:#8FD960;

}


span.coursename a.color-5{
	color:#D3B2ED;

}

span.coursename a.color-6{
	color:#7ADFC7;

}

div.dropdown_list li.courses a.color-1{
	border-left: 4px solid #FF6A68;
}

div.dropdown_list li.courses a.color-2{
	border-left: 4px solid #FFCE7A;
}

div.dropdown_list li.courses a.color-3{
	border-left: 4px solid #4FA2F7;
}

div.dropdown_list li.courses a.color-4{
	border-left: 4px solid #8FD960;
}

div.dropdown_list li.courses a.color-5{
	border-left: 4px solid #D3B2ED;
}

div.dropdown_list li.courses a.color-6{
	border-left: 4px solid #7ADFC7;
}

div.innerwrap > img {
	bottom: 0;
	position: absolute;
	opacity: 0.4;
	-webkit-transition: all 0.5s ease-in-out;

}

div.innerwrap > img:hover {
	
}

div.innerwrap{
	background-repeat: repeat-x, no-repeat;
	background-position: top, center;
	background-size: auto, cover;
	height: 200px;
	position: relative;
	opacity: 0.50;
	padding: 0;
	overflow: hidden;
	z-index: 1;
	border-bottom: 1px solid #CCC;

}

div.innercontents h5{
	width:100%;
	overflow: hidden;
	padding: 16px;
	position: absolute;
	bottom: 95px;
	z-index: 9;
	height: 180px;
	margin-bottom: 5px;
	
	}
	
div.innercontents h5 a{
	position: absolute;
	bottom: 0;
	font-size: 30px;
	font-family: 'Merriweather', serif;
	color: white;	
	text-shadow: 1px 1px 7px black;
	margin-bottom: 5px;
	padding-right: 12px;
}

div.innercontents h5 a.noimage{

	color: #858587;
	text-shadow: none;

}

div.post_details {
	padding-left: 53px;
	height: 65px;
	padding-top: 10px;
	}
div.innercontents img.avatar{
	height: 49px;
	width:49px;
	position: absolute;
	margin-left: -5px;
	margin-top:7px;
	box-shadow: 1px 1px 3px rgb(160,160,160);
	-moz-box-shadow: 1px 1px 3px rgb(160,160,160);
	-webkit-box-shadow: 1px 1px 3px rgb(160,160,160);
}

div.post_details{
	color: #9e9e9e;
	border-bottom: 1px solid #ccc;
	font-family: "Lato", sans-serif;

}

div.post_details span a{
	color: #9e9e9e;

	font-weight: 900;


}

div.post_details p{
	font-weight: 400;
	margin:0;
	padding:0;
	padding-top: 5px;
}
div.post_details p a{
	color: #d35f5e;
	font-weight: 900;
	padding-left: 2px;
	}

div#submitnew .loading{
	background-image: url('/images/engage/loading.gif');
	background-position: 116px 100px;
	background-repeat: no-repeat;
	display: none;
	text-align: center;
	padding-top: 170px;
	padding-left:8px;
	height: 360px;
	position: absolute;
	z-index: 5000;
	left:0;
	top:0;
	width: 100%;
	background-color: rgba(250, 250, 250, 1);

}

div#submitnew .msg,div#submitnew .error{

	padding-top: 20px;
	display: none;
	height: 360px;
	position: absolute;
	z-index: 8000;
	left:0;
	top:0;
	width: 100%;
	background-color: rgba(250, 250, 250, 1);

}


div#submitnew .msg span.delete_btn,div#submitnew .error span.delete_btn{
	font-family: Lato, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #9E9E9E;
	position: absolute;
	right:5px;
	top:5px;
	background-color: #f3f3f3;
	border: 1px solid #d9dad5;
	padding: 1px 3px;
	cursor: pointer;
	opacity: 0.6;
	line-height: 13px;

}



.no-touch div#submitnew .msg span.delete_btn:hover,div#submitnew .error span.delete_btn:hover{
	opacity: 1;
}


div#submitnew .msg div span{font-weight: 900; font-size: 15px; padding-left: 5px;}

div#submitnew .msg div, div#submitnew .error div{
	line-height: 23px;
	margin: 40px auto;
	width: 80%;
	font-size: 15px;
}

div#submitnew .error div{
	color:#F14241
}

div.innercontents .post_time{
	white-space: nowrap;
	overflow: hidden;
	font-weight: 400;
	font-style: italic;
}
	
div.innercontents span#prof img{
	opacity: 0.6;
	vertical-align: bottom;
	margin-left: 5px;
}


div.articlepreview{
	padding: 18px;
	padding-top: 10px;
	height: 55px;
	overflow: hidden;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 12px;
	opacity: 0.5;
	}
div.articlepreview p{
	font-size: 12px !important;
	line-height: 1.2 !important;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
	height: 43px;
}


div.post_details p{
	font-size:12px !important;
	margin-top: 2px;
}

div.post_details span.coursename{
}

div.post_details span.coursename:hover{
	cursor: pointer;
	}
	
div.likescomments{
	text-align: right;
	padding: 10px;
	padding-right: 16px;
	
}
div.likescomments span{
	font-size: 12px;
	padding-left: 10px;
	vertical-align: text-top;
	
	}

div.likescomments span{
	line-height:15px;
	color: #3B3B3B;
	margin-left: 10px;
	display: inline-block;

	background-repeat: no-repeat;

	padding-left: 18px;
	opacity: 0.7;
	cursor: pointer
}

.no-touch div.likescomments span{
	opacity: 0.5;
}

div.likescomments span:hover{

	opacity: 0.7;
}


div.likescomments span.comment_btn{
	background-image: url("/images/engage/icon/16x16/Comment_v1.png");
	background-size: 15px;
	background-position: 0 1px;
}


.no-touch div.likescomments span.comment_btn:hover{

	background-image: url("/images/engage/icon/16x16/Comment_v1.png");

}

div.likescomments span.star_btn.unstarred{
	 background-image: url("/images/engage/icon/16x16/Star_v1.png");

 }

.no-touch div.likescomments span.star_btn.unstarred:hover{
	background-image: url("/images/engage/icon/16x16/Star_pressed_v1.png");


}

div.likescomments span.star_btn.starred{
	background-image: url("/images/engage/icon/16x16/Star_pressed_v1.png");
}

.no-touch div.likescomments span.star_btn.starred:hover{
	background-image: url("/images/engage/icon/16x16/Star_v1.png");
}



div.likescomments span.like_btn.disliked{
	background-image: url("/images/engage/icon/16x16/Like_v1.png");

}

.no-touch div.likescomments span.like_btn.disliked:hover{
	background-image: url("/images/engage/icon/16x16/Like_pressed_v1.png");


}
div.likescomments span.like_btn.liked{
	background-image: url("/images/engage/icon/16x16/Like_pressed_v1.png");
}

.no-touch div.likescomments span.like_btn.liked:hover{
	background-image: url("/images/engage/icon/16x16/Like_v1.png");
}



/* -----------------------------------------
   Article sharing box
----------------------------------------- */
.articlebox span.like_btn{
	cursor: pointer;
}

div#submitnew{
	background-color: transparent;

	-moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow:none;
}


div.cover {
	height: 360px;
	position: relative;


	-moz-perspective: 2000px;
}

div.cover.hack{
	/*it appears to be a chrome bug that it does not display image on the fly correctly when prespective is set, so we set perspective after the images are load*/
	-webkit-perspective:2000px;
}

div.cover .frontCard {
	background-color: #fff;
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.35);
	float: none;
	position: absolute;
	width: 100%;
	height: 100%;

	z-index: 900;
	top: 0;
	left: 0;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: flat;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

}

div.cover.flip .frontCard {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);

}


div.cover .backCard {
	background-color: #fff;
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.35);
	-webkit-box-shadow:0px 0px 7px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.35);
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 800;
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: flat;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateY(-180deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

}

div.cover.flip .backCard {
	z-index: 1000;

	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);


}

div.selectcourse{
	display: inline;
	float: left;
	}
div.innercontents#submitnew{
	padding: 0px;
}

div.innercontents#submitnew form{
	padding: 12px 16px;
}

div.innercontents#submitnew form label{
	margin-bottom: 11px;
} 
.sumbitrow{
	display: inline-block;
	width: 100%;

}

.sumbitrow .small.button{
	width : 60px;
	border-radius: 2px;
	border-color: #555;
	background-color: #888;
}
div.submit{
	display: inline;
	position: relative;
	float: right;
	margin-top: 2px;

}

div.innercontents form textarea{
	height: 220px;
	resize: none; 
	}

/* -----------------------------------------
   Article
----------------------------------------- */

	
div#article_container{
	font-family: "Lato", sans-serif;
	margin-top: 40px;
	-moz-box-shadow: 0 0 5px #9e9e9e;
	-webkit-box-shadow: 0 0 5px #9e9e9e;
	box-shadow: 0 0 5px #9e9e9e;
	background-color:  rgba(0,0,0,0.05);
	
}
div#article_container #article{
	padding: 0 1em;
	word-spacing: -0.05em;
	line-height: 1.3em;

}

div#article_container #article iframe{
	width: 100%;
	height: 897px;

}

.no-touch div#article_container #article{
/*browser*/
	padding: 1em 2em 3em;
	word-spacing: -0.05em;
	line-height: 1.3em;


}

.no-touch div#article_container #article pre{
	white-space: normal;
	width: 100%;
}
div#article_container #article p{
	font-size: 14px;
}

div#article_container .columns:first-child.night{
	-webkit-transition: all 0.2s ease-in-out;
	color:white;
	background-color: black;
}

div#article_container div#article.larger p{

	font-size: 22px;
	margin-bottom: 40px;
}

div#article_container div#article.larger h1{
	font-size: 40px;
	margin-bottom: 40px;
}

div#article_container #article img{
	display: block;
	}
.article_options{
	margin-top: 30px;
	padding: 0.5em 1.9em 0.5em;
	}
	
	
#article_options_mobile{
	padding: 0;
}

.article_options.night #options span{
	color: white;
	opacity: 1;
}
.article_options #options{
	margin-left:10px;
	float: right;
	opacity: 0.8;
}
.article_options #options span{	
	color: #555; 
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	background-repeat: no-repeat;
	padding-left: 18px;
	cursor: pointer;
	}


.article_options span.star_btn.unstarred{
	background-image: url( "/images/engage/icon/16x16/Star_v1.png");
}
.no-touch .article_options span.star_btn.unstarred:hover{
	background-image: url( "/images/engage/icon/16x16/Star_pressed_v1.png");
}

.article_options span.star_btn.starred{
	background-image: url( "/images/engage/icon/16x16/Star_pressed_v1.png");
}
.no-touch .no-touch .article_options span.star_btn.starred:hover{
	background-image: url( "/images/engage/icon/16x16/Star_v1.png");
}

.article_options span.like_btn.disliked{
	background-image: url( "/images/engage/icon/16x16/Like_v1.png");
}

.no-touch .article_options span.like_btn.disliked:hover{
	background-image: url( "/images/engage/icon/16x16/Like_pressed_v1.png");
}

.article_options span.like_btn.liked{
	background-image: url( "/images/engage/icon/16x16/Like_pressed_v1.png");
}

.no-touch .article_options span.like_btn.liked:hover{
	background-image: url( "/images/engage/icon/16x16/Like_v1.png");
}

.article_options span.invert_btn{
	background-image: url( "/images/engage/icon/16x16/Invert_v1.png");
}

.article_options span.textsize_btn{
	background-image: url( "/images/engage/icon/16x16/TextSize_v1.png");
}

.article_options span.link_btn{
	background-image: url( "/images/engage/icon/16x16/ViewOriginal_v1.png");	
}
.article_options span.back_btn{
	background-image: url( "/images/engage/icon/16x16/Back_v1.png");	
	background-repeat: no-repeat;
	padding-left: 25px;
	color: #555;
}

.article_options span#course{
	float: right;
}	


#article_options_mobile{
	white-space: nowrap;
	display: inline-block;
	margin: 15px 0;
}
#article_options_mobile #options{
	clear: both;
	padding: 0 10px;
	margin: 0 !important;
	float:none;
	text-align: left;
	
	
}

#article_options_mobile a#back{
	float: left;
}

#article_options_mobile a#back span{
	margin: 0;
}

#article_options_mobile a#view_original{
	float: right;
}

#article_options_mobile a#view_original span{
	margin: 0;
	
	
}


#article_options_mobile #options span{
	margin: 0;
	margin: 0 25px;
	line-height: 35px;
	width: 30px;
	padding: 0;
	height: 35px;
	vertical-align: left;
	background-position: bottom;
	margin-top: 15px;
}

#article_options_mobile #options span:first-child{
	margin-left: 0;
	}
#article_options_mobile #options span:last-child{
	margin-right: 0;
}
#article_options_mobile #options span.like_btn em{
	color: white;
	font-size: 11px;
	text-shadow: 1px 1px 5px black;
}

#article_options_mobile #options span.like_btn{
	color: white;
	text-align: center;
}
#article_options_mobile span.back_btn{
	display: inline-block;
	line-height: 35px;
	padding-left: 35px !important;
}
.article_options#article_options_mobile span.star_btn.unstarred{
	background-image: url( "/images/engage/icon/32x32/Star_v1.png");
}
.no-touch .article_options#article_options_mobile span.star_btn.unstarred:hover{
	background-image: url( "/images/engage/icon/32x32/Star_pressed_v1.png");
}

.article_options#article_options_mobile span.star_btn.starred{
	background-image: url( "/images/engage/icon/32x32/Star_pressed_v1.png");
}
.no-touch .article_options#article_options_mobile span.star_btn.starred:hover{
	background-image: url( "/images/engage/icon/32x32/Star_v1.png");
}

.article_options#article_options_mobile span.like_btn.disliked{
	background-image: url( "/images/engage/icon/32x32/Like_v1.png");
}

.no-touch .article_options#article_options_mobile span.like_btn.disliked:hover{
	background-image: url( "/images/engage/icon/32x32/Like_pressed_v1.png");
}

.article_options#article_options_mobile span.like_btn.liked{
	background-image: url( "/images/engage/icon/32x32/Like_pressed_v1.png");
}

.no-touch .article_options#article_options_mobile span.like_btn.liked:hover{
	background-image: url( "/images/engage/icon/32x32/Like_v1.png");
}

.article_options#article_options_mobile span.invert_btn{
	background-image: url( "/images/engage/icon/32x32/Invert_v1.png");
}

.article_options#article_options_mobile span.textsize_btn{
	background-image: url( "/images/engage/icon/32x32/TextSize_v1.png");
}

.article_options#article_options_mobile span.link_btn{
	background-image: none;
	display: inline-block;
	width: auto !important;
}
.article_options#article_options_mobile span.back_btn{
	background-image: url( "/images/engage/icon/32x32/Back_v1.png");	
	background-repeat: no-repeat;
	padding-left: 20px;
	color: #555;
}


div#article_container #article h1{
	font-family: "Cambria", sans-serif;
	font-size: 24px;
}

#article h2, #article h3,#article h4,#article h5,#article h6{
	font-family: "Cambria", sans-serif;
	font-size: 20px;
}


div#article_container .columns:first-child{
	background-color: #f9f9f9;
	-moz-box-shadow: 0 0 5px #9e9e9e;
	-webkit-box-shadow: 0 0 5px #9e9e9e;
	box-shadow: 0 0 5px #9e9e9e;
}

div#owner_comment #small_wrap{
	padding: 0 !important;
	padding-bottom: 10px;
	
}

div#article_container #comments{
	margin: 0;
	padding: 0;

}

div#article_container #comments #owner_comment{
	/*-moz-box-shadow: 0 0 1px #9e9e9e;*/
	/*-webkit-box-shadow: 0 0 1px #9e9e9e;*/
	/*box-shadow: 0 0 1px #9e9e9e;*/
	padding: 11px;
	background: rgba(0,0,0,0.1);
	border-top: 2px solid rgba(0,0,0,0.1);
	padding-left: 75px;
	position: relative;

	}

div#article_container #comments h5{
	padding-left: 15px;
	

}


div#article_container #comments span.name{
	line-height: 22px;
	font-size: inherit;
	font-weight: 700;
	font-style: normal;
}

div#article_container .thread li span.edit_btn{
	position: absolute;
	right:10px;
	top:10px;
	cursor: pointer;
}

.no-touch div#article_container .thread li span.edit_btn{
	opacity: 0.7;

	display: none;

}

div#article_container .thread li:hover span.edit_btn{
	display: block;
}


div#article_container .thread li span.edit_btn:hover{
	opacity: 1;
}

div#article_container #comments span{
	font-size: 12px;
	font-weight: 300;
}

div#article_container #comments span.reply_to{
	margin-left: 10px;
}

div#article_container #comments span.like_reply{
	float: right;
	font-style: normal;
	color: #555;
	}
div#article_container .like_btn,div#article_container .dislike_btn{
	cursor: pointer
}

#comments .comment_control input {margin-top: 10px}
#comments .comment_control a { margin-right:5px;}
	
#comments span.like_reply a{
	color: #555;
	cursor: pointer;
	padding-left: 5px;
	}
	
	
#comments span.like_reply a span.reply_btn{
background-image: url("/images/engage/icon/16x16/Reply_v1.png");
	}

div#article_container #comments li{
	list-style: none;
	margin: 0;


	}

div#article_container #comments li.comment,div#article_container #comments li.replies{
	padding-left: 75px;
	position: relative;
}

div#article_container #comments .avatar{
	position: absolute;
	left:15px;
	top:15px;

}

div#article_container #comments .avatar img{
	border: 0;
	width: 49px;
	height: 49px;
	box-shadow: 0px 0px 4px gray;
	-moz-box-shadow: 0 0 4px gray;
	-webkit-box-shadow: 0 0 4px gray;

}

div#article_container #comments ol{
	list-style: none;
	margin: 0;

}


div#article_container #comments .comment{
	padding: 10px;
	/*-moz-box-shadow: 0 0 1px #9e9e9e;*/
	/*-webkit-box-shadow: 0 0 1px #9e9e9e;*/
	box-shadow: 0 0 1px #9e9e9e;
	background-color:  rgba(0,0,0,0.05);

	
}



div#article_container .thread li:first-child{
	border-top: 1px solid #9e9e9e;
}

div#article_container .thread li {
	border-bottom: 1px solid #9e9e9e;
}

div#article_container .thread > ol > li.replies{
	border-left: 1px solid #9e9e9e;
}

div#article_container .thread > ol > li.replies:last-child{

	border-bottom: 0;
}

div#article_container .thread:last-child > ol:last-child > li.replies:last-child{
	border-bottom: 1px solid #9e9e9e;
}

/*div#article_container .thread:last-child  div{*/
	/*border-bottom: 1px solid #9e9e9e;*/
/*}*/


div#article_container #comments .replies{
	padding: 10px;
	/*-moz-box-shadow: 0 0 2px #9e9e9e;*/
	/*-webkit-box-shadow: 0 0 2px #9e9e9e;*/
	/*box-shadow: 0 0 2px #9e9e9e;*/

	margin-left: 25px !important;
	}

#comments .reply_box form{
	margin-top: 10px;
	
}

#comments .reply_box span{
	padding-left: 2px;
}

#comments .reply_box{
	border-top: 1px solid #9e9e9e;
	padding: 10px 20px 0px 20px;
}

#comments .reply_box.replies{
	border-top:0;
}

#comments .reply_box input{
	width: 79%;
	display: inline;
	height: 40px;
	font-size: 12px;
	margin-top:2px;
	resize: none; 

}

#comments .reply_box input.submit_btn{
	float: right;
	width: 20%;
	display: block;
	height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.05);
	color: #9e9e9e;
	
}

a.reply_click img{
	opacity: 0.6;
	height: 10px;
	bottom: 0;
	margin-left: 5px;
}
/* -----------------------------------------
   courses
----------------------------------------- */
	
div#course{	
	margin-top: 20px;
	font-family: "Lato", sans-serif;
}

div#info, div#week-info{
	padding: 10px 25px;
	
}

div#week-info .edit_panel{
	display: none;
}

div#info ul{
	list-style: none;
}

div#info ul li span,div#week-info ul li span{
	font-weight: bold;
	}
	
	
div#no_resource_box{
	width: 25%;
}

/* -----------------------------------------
   weeks-bar
----------------------------------------- */
	
.weeks-bar {

	display: inline;
	text-align: center;
	margin: 20px 0 10px 0;
	}

.no-touch .weeks-bar ul li:hover a.disabled {
	opacity: 0.5;
	border-color: #888;
}

.weeks-bar ul li a.disabled {
	opacity: 0.5;
	border-color: #888;
}

.weeks-bar ul{
	list-style: none;
	text-align: center;
	position: relative;
	display: inline;
}

.weeks-bar ul li{
	display: inline;
	margin: 2px;
	}
	
	
.weeks-bar ul li a{
	font-family: "Lato", sans-serif;
	font-size: 12px;
	display: inline-block;
	width: 48px;
	height: 30px;
	border-top: #C41230 5px solid;
	/*background-color: #9e9e9e;*/
	opacity: 0.5;
	color: #555;
	padding-top: 5px;
}

.weeks-bar ul li a#week{
	/*background-color: transparent;*/
	border-top: none;
	padding-top: 5px;
	color: #555;
	opacity: 0.8;
}


.weeks-bar ul li:hover a{
	opacity: 1;
}

.weeks-bar ul li a.active{
	opacity: 1;
}


span#mobile_week_label{
	display: block;
	float:left;
	margin-top: 28px;
	color: #555;
}


#mobile_week_bar{
	width: 85%;
	height: 100%;
	overflow: auto;
	margin-left:50px;
	margin-top:10px;
	display: block;
}


#mobile_week_bar ul{
	list-style: none;
	height: 40px;
	width: 1000px;
	display: block;
}



#mobile_week_bar ul li{
	display: block;
	margin: 0 4px;
	float:left;
	line-height: 35px;
	vertical-align: bottom;
	text-align: center;
	
	
	}
	
li.mobile_week_item a{
	font-family: "Lato", sans-serif;
	font-size: 20px;
	display: inline-block;
	border: 0;
	color: #555;
	vertical-align: bottom;
	text-align: center;
	width:60px;
	border-top: #C41230 5px solid;
	font-size: 18px !important;

}

li.mobile_week_item a.active{
	font-size: 30px;
	font-weight: bold;
	margin: 0 2px;
}

li.mobile_week_item a:hover{
	font-size: 30px;
	font-weight: bold;
}



/* -----------------------------------------
   preference
----------------------------------------- */

div#preference{
	font-family: "Lato", sans-serif;
	margin-top: 30px;
	padding: 20px;
	background-color: #F9F9F9;
}

div#preference dd a{
	padding: 0 12px;
}
div#preference_header{
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.05);
}

div#preference ul.tabs-content{
	min-height: 400px;
}


div#preference #edit_info_column textarea{
	resize:none;
	height: 100px;
	
	}
div#preference #edit_info_column input:focus{
	background-color: white;
	}
div#preference #edit_info_column textarea:focus{
	background-color: white;
	}
div#preference .columns:first-child{
	padding-right: 25px;
}
div#preference img.avatar{
	width: 120px;
	height: 120px;
}
div#upload_avatar{
	text-align: center;
	border: 1px solid #9e9e9e;
	width: 120px;
	height: 25px;
	background-color: #eee;
	overflow:hidden;
}


#upload_article #article_title{
	width: 80%;
}
.browsebox {
	position: absolute;
	overflow: hidden;
}

#submitnew .browsebox{
	right: 21px;
	top: 38px;
	margin-left:225px;
	position: absolute;
	overflow: hidden;
}

.browsebox input {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.browsebox .button{
	border-radius: 2px;
	border-color: #555;
	background-color: #888;
	pointer-events: none;
	cursor: pointer;
}
div#preference .button{
	border-radius: 2px;
	border-color: #555;
	background-color: #888;

}
div#preference .removebox{
	margin-top: 43px;
	margin-bottom: 20px;
}

div#preference #avatar_column .button{
	width: 120px;
}


div#preference div#edit_box label{
	float:left;
	cursor: default;
}

div#preference div#edit_box span{
	float:right;
}

div#preference div#edit_box h4{
	margin-top: 0;
}

div#preference #edit_info_column input.button{
	float: right;
}


div#preference #notificationTab ul{
	list-style-type: none;
	display: inline-block;
	margin-left: 16px;
}

div#preference #notification ul.checkbox_column{
	display: inline-block;
	margin-left: 20px;
}

div#preference #notificationTab ul.checkbox_column li input{
	width:60px;
	vertical-align: middle;
	text-align: center;

}


div#preference #notificationTab ul.checkbox_column li span{
	font-size: 15px;
	vertical-align: middle;
	width:60px;
	display: inline-block;
}

div#preference #notificationTab ul li input{
	margin-top: 10px;
}

div#preference #notificationTab input.button{
	display: block;
}
/* -----------------------------------------
   overwriting fundation's tab
----------------------------------------- */
dl.tabs dt{
	font-weight: bold;
}
dl.tabs dd.active{
	border: none;
	margin-top: 0;
}
dl.tabs dd.active a{
	background: none; 
	border: none;}

/* -----------------------------------------
   Profile page
----------------------------------------- */
div.innercontents#user_detail_box{
	padding: 13px 10px 10px 10px;
}
div.innercontents#user_detail_box img.profile_avatar{
	float: left;
	margin-right: 10px;
	width: 68px;
	height: 68px;
	overflow: hidden;
	display: inline-block;
}
div.innercontents#user_detail_box h4{
	display: inline-block;
	width: 68%;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
	max-height: 52px;
}

div.innercontents#user_detail_box #user_bio{
	padding: 8px;
}

div.innercontents#user_detail_box #user_bio h6{
	font-style:italic;
	margin-bottom: 5px;
	
	}
	
	
div.innercontents#user_detail_box div.avatar_name{
	height: 68px;
}	
/* -----------------------------------------
   padding bar for smaller screens
----------------------------------------- */

#padding-bar{
	width: 12%;
	float:left;
	height: 1500px;
}


/* -----------------------------------------
   week topic
----------------------------------------- */

#week-info .topic_input{
	position: relative;
}
#week-info .topic_input input{
	width: 80%;
	float: left;
	
}
#week-info span#topic_span{
	display: inline-block;
	padding-bottom: 10px;
	font-style: italic;
	font-weight: bold;
}
#week-info .topic_input span.remove_btn{
	margin-left: 8px;
	float: left;
	vertical-align: middle;
	font-weight: bold;
	font-size: 17px;
	border-radius: 2px;
	border-color: #555;
	background-color: #888;

}

#week-info #week_topic_btn{
	position: absolute;
	bottom: 12px;
	right: 12px;
}

#week-info #week_topic_btn .button{
	border-radius: 2px;
	border-color: #555;
	background-color: #888;
	margin-left: 5px;
	}
	
#week-info ul{
	list-style: circle;
	padding-left: 40px;
}


#week-info ul li{
	font-style: italic;
	}


#no_resource{
	text-align: left;
	padding-top: 7px;
	padding-left: 25px;
	color: #666;

}

#no_resource p{
	padding: 0;
	margin: 0;
	margin: 2px;
}

#no_resource h4{
	color:#222;
}