div#courseList {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	margin-bottom: 35px;
	z-index: -100;
}

div.spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

div.courseButton {
	position: relative;
	color: white;
	background: #394161;
	padding: 0px;
	height: 30px;
	width: 100px;
	border-bottom: 4px solid white;
	cursor: pointer;
}

div.courseButtonSelectorTop {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	height: 0px;
	width: 100%;
	background: #1b88d0;
	-webkit-transition: all 200ms linear;
}

div.courseButtonSelectorBottom {
	position: absolute;
	display: block;
	top: 35px;
	left: 0px;
	height: 5px;
	opacity: 0;
	width: 100%;
	background: #4d4d4d;
	-webkit-transition: all 200ms linear;
}

div.courseButtonText {
	position: absolute;
	left: 15px;
	top: 5px;
	text-align: center;
}

div.courseButtonSelected {
	color: white;
	background: #1b88d0;
	padding: 6px;
	border-bottom: 4px solid #4d4d4d;
	cursor: pointer;
}