div#courseList {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	margin-bottom: 30px;
	z-index: -100;
}

div.spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

div.courseButton {
	position: relative;
	color: white;
	background: #394161;
	height: 30px;
	width: 90px;
	border-bottom: 4px solid white;
	cursor: pointer;
}

div.courseButtonSelectorTop {
	position: absolute;
	display: block;
	top: 0em;
	left: 0em;
	height: 0em;
	width: 100%;
	background: #1b88d0;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
}

div.courseButtonSelectorBottom {
	position: absolute;
	display: block;
	top: 30px;
	left: 0em;
	height: 0.3em;
	opacity: 0;
	width: 100%;
	background: #4d4d4d;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
}

div.courseButtonTextContainer {
	position: absolute;
	padding: 8px;
	width: 70px;
}

div.courseButtonText {
	text-align: center;
	font-size: 11px;
}

div.courseButtonSelected {
	font-weight: bold;
}