div#header {
	position: relative;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	border-bottom: 2px solid #1b88d0;
	z-index: 100;
}

div#askQuestion {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	margin: 25px;
	margin-top: 10px;
	border-bottom: 1px solid black;
}

input#askQuestionInput {
	width: 100%;
}

div#profile {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
}

div#profileText {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: box;
	box-orient: vertical;
	text-align: right;
	margin-top: 8px;
}

div#profileName {
	font-weight: bold;
}

div#profile img {
	width: 64px;
	height: 64px;
	margin-left: 10px;
	border: 1px solid black;
}

div#profilePicture {
	position: relative;
}

div#newNotificationCount {
	display: block;
	position: absolute;
	top: 45px;
	left: -5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background: #1b88d0;
	color: white;
	border-radius: 15px;
	box-shadow: 1px 1px 4px black;
}

@-webkit-keyframes notification-menu-animation {
	0% { 
		top: -200px;
		opacity: 0; 
	}
	5% { 
		top: -200px;
		opacity: 0; 
	}
	6% {
		top: 50px;
		opacity: 0;
	}
	100% { 
		top: 70px;
		opacity: 1;
	}
}

nav#notificationList {
	//opacity: 100;
	position: absolute;
	top: -200px;
	left: -220px;
	height: 100px;
	-webkit-animation: notification-menu-animation 200ms 0ms infinite alternate forwards;
	-webkit-animation-play-state: paused;
}