div#header {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-bottom: 2px solid #1b88d0;
}

div#askQuestion {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	margin: 25px;
	border-bottom: 1px solid black;
}

div#profile {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
}

div#profileText {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: box;
	box-orient: vertical;
	text-align: right;
	margin-top: 8px;
}

div#profileName {
	font-weight: bold;
}

div#profile img {
	width: 64px;
	height: 64px;
	margin-left: 10px;
	border: 1px solid black;
}