div#header {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	border-bottom: 2px solid #1b88d0;
}

div#askQuestion {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	margin: 25px;
	margin-top: 10px;
	border-bottom: 1px solid black;
}

input#askQuestionInput {
	width: 100%;
}

div#profile {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
}

div#profileText {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: box;
	box-orient: vertical;
	text-align: right;
	margin-top: 8px;
}

div#profileName {
	font-weight: bold;
}

div#profile img {
	width: 64px;
	height: 64px;
	margin-left: 10px;
	border: 1px solid black;
}

div#profilePicture {
	position: relative;
}

div#newNotificationCount {
	display: block;
	position: absolute;
	top: 45px;
	left: -5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background: #1b88d0;
	color: white;
	border-radius: 15px;
	box-shadow: 1px 1px 4px black;
}

nav#notificationList {
	display: block;
	opacity: 0;
	position: absolute;
	top: 70px;
	left: -220px;
	width: 200px;
	height: 100px;
	cursor: default;
	-webkit-transition: all 400ms linear;
}