body {
	margin: 0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: #ffffff;
	color: #4d4d4d;
	width: 100%;
	height: 100%;
}

a {
	color: #1b88d0;
}

div#bodyContainer {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
}

div#innerBody {
	z-index: -100;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: box;
	box-orient: vertical;
}

div#timeline {
	width: 5em;
}