div#notificationMenu {
	width: 300px;
	//box-shadow: 1px 1px 10px #999999;
}

div#notificationArrow {
	width: 50px;
	height: 20px;
	position: relative;
	left: 75%;
	background: #1b88d0;
}

div.notificationNew, div.notificationRegular, div.notificationInstructor {
	padding: 5px;
}

div#notificationHeader {
	background: #1b88d0;
	color: white;
	padding: 5px;
}

span.notificationSender {
	font-weight: bold;
}

div.notificationNew {
	background: #89c3e7;
}

div.notificationInstructor {
	background: #fff282;
}