div#notificationMenu {
	width: 300px;
	background: white;
	font-size: 14px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

div#notificationArrow {
	width: 0;
	height: 0;
	position: relative;
	left: 78%;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #1b88d0;
}

div.notificationNew, div.notificationRegular, div.notificationInstructor {
	padding: 5px;
	cursor: pointer;
}

div#notificationHeader {
	background: #1b88d0;
	color: white;
	padding: 5px;
}

span.notificationSender {
	font-weight: bold;
}

div.notificationNew {
	background: #89c3e7;
}

div.notificationInstructor {
	background: #fff282;
}