div#askForm {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: box;
	box-orient: vertical;
	-webkit-animation: form-appear-animation 600ms 0ms 1 alternate forwards;
}

div.formButton {
	color: white;
	background: #1b88d0;
	padding: 6px;
	cursor: pointer;
	padding: 10px;
	float: right;
	font-weight: bold;
}

div.askFormField {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
}

div.askFormFieldName {
	width: 120px;
}

@-webkit-keyframes form-appear-animation {
	0% { 
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	100% { 
		opacity: 1;
	}
}