div#formHeader {
	font-size: 24px;
	margin-bottom: 40px;
}

textarea {
	border-width: 1px;
	border-color: #4d4d4d;
	padding: 10px;
	width: 560px;
	height: 140px;
	font-size: 18px;
}

select {
	padding: 10px;
	width: 582px;
	border-width: 1px;
	border-color: #4d4d4d;
	font-size: 18px;
}

div#askForm {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: box;
	box-orient: vertical;
	-webkit-animation: form-appear-animation 600ms 0ms 1 alternate forwards;
	-moz-animation: form-appear-animation 600ms 0ms 1 alternate forwards;
}

div.formButton {
	color: white;
	background: #1b88d0;
	padding: 6px;
	cursor: pointer;
	padding: 10px;
	float: right;
	font-weight: bold;
	margin-bottom: 3em;
}

div.askFormField {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	margin-bottom: 20px;
}

div.askFormFieldName {
	width: 120px;
	margin-top: 10px;
	font-size: 18px;
}

div.askFormFieldValue {
	margin-left: 20px;
}

@-webkit-keyframes form-appear-animation {
	0% { 
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	100% { 
		opacity: 1;
	}
}

@-moz-keyframes form-appear-animation {
	0% { 
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	100% { 
		opacity: 1;
	}
}