div#questionListContent {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

div#infolist {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
}

h2#courseTitle {
	font-weight: normal;
	font-size: 11px;
	margin-bottom: 0.3em;
}

span.inserted {
	text-decoration:underline;
}

h1#sectionTitle {
	font-weight: bold;
	font-size: 24px;
	margin-top: 0em;
	margin-bottom: 0.2em;
	width: 690px;
}

span#sectionName {
	font-weight: normal;
}

div#questionHeader {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: box;
	box-orient: vertical;
	-webkit-animation: question-appear-animation 600ms 0ms 1 alternate forwards;
}

div#questionCount {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	margin-left: 60px;
	margin-top: 1.0em;
	font-size: 34px;
	font-weight: bold;
	-webkit-animation: question-appear-animation 600ms 0ms 1 alternate forwards;
}

div#questionCountNumber {
	margin-right: 5px;
}

div#questionCountText {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: box;
	box-orient: vertical;
	padding-top: 4px;
	font-size: 12px;
	font-weight: normal;
}

/* grayed out color: c6c6c6*/
div#questionTabs {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	margin-top: 0em;
}

div#questionTabs div.tab {
	margin-top: 0em;
	font-size: 12px;
	padding-right: 20px;
	color: #1b88d0;
	text-decoration:underline;
	cursor: pointer;
}

div#askNewQuestionText {
	margin-top: 0.5em;
	margin-bottom: 20px;
	padding: 5px;
	font-size: 1.5em;
}

div#askNewQuestionText a {
	margin-left: 5px;
}

div#askNewQuestionText, a#askNewQuestionLink {
	margin-top: 40px;
	margin-left: -10px;
	font-size: 18px;
	width: 705px;
	padding: 10px;
	color: white;
	background: #1b88d0;
}

div#detailedQuestion {
	width: 690px;
	margin-top:  35px;
}

div#detailedQuestion div.question {
	width: 690px;
}

/* yellow boxes should be padded 10px; */
div.question {
	padding: 10px;
	width: 705px;
	margin-bottom: 17px;
	margin-left: -10px;
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
	color: #4d4d4d;
	-webkit-animation: question-appear-animation 600ms 0ms 1 alternate forwards;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

div.comment {
	padding: 10px;
	width: 690px;
	margin-bottom: 30px;
	margin-left: -10px;
	font-size: 18px;
	font-weight: 200;
	color: #4d4d4d;
	-webkit-animation: question-appear-animation 600ms 0ms 1 alternate forwards;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

@-webkit-keyframes question-appear-animation {
	0% { 
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	100% { 
		opacity: 1;
	}
}

div.questionId {
	display: none;
}

div.questionTitle {
	font-size: 36px;
	font-weight: bold;
}

div.questionText {
	font-size: 18px;
	margin-bottom: 9px;
}

div.questionDetailsText {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

hr {
	border-bottom: 1px red;
}

div.questionData {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	font-size: 11px;
}

div.questionData div {
	padding-right: 4px;
	margin-right: 1.4em;
}

div.profResponsesRecent {
	background: #ffe450;
}

div.instructorResponseFlag {
	background: #ffe450; 
	position:relative; 
	height: 11px; 
	padding: 5px; 
	margin-top: -4px; 
	margin-left: -5px; 
	margin-right: 20px;
}

div#pageNumber {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	padding-bottom: 20px;
	-webkit-animation: question-appear-animation 600ms 0ms 1 alternate forwards;
}

div#pageNumber img {
	width: 1em;
	height: 1em;
	margin: 0.6em;
}

div.pageNumberButton {
	margin: 0.6em;
	font-size: 1em;
	color: #1b88d0;
	text-decoration:underline;
	cursor: pointer;
}

div.votes img {
	width: 1em;
	height: 1em;
}

span.upVoteCount {
	color: #39b54a;
}

span.downVoteCount {
	color: #ee2a7b;
}

hr#replyDivider {
	margin: 0em;
	margin-bottom: 2em;
}

div#addReplyText {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

div#replyButton {
	color: white;
	background: #1b88d0;
	padding: 10px;
	width: 60px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 3em;
}

textarea#replyText {
	width: 530px;
	height: 160px;
	padding: 10px;
	border-width: 1px;
	margin-bottom: 10px;
	border-color: #4d4d4d;
}

input#tagText {
	width: 70%;
	margin-bottom: 1em;
}