div#questionListContent {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	width: 70%;
}

h1#courseTitle {
	font-weight: normal;
	font-size: 0.95em;
	margin-bottom: 0.3em;
}

span.inserted {
	text-decoration:underline;
}

h2#sectionTitle {
	font-weight: bold;
	font-size: 2em;
	margin-top: 0em;
	margin-bottom: 0.2em;
}

span#sectionName {
	font-weight: normal;
}

div#questionHeader {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
}

div#questionCount {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	margin-top: 1.6em;
	margin-right: 1.6em;
	font-size: 2em;
	font-weight: bold;
	float: right;
}

div#questionCountNumber {
	margin-right: 5px;
}

div#questionCountText {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: box;
	box-orient: vertical;
	font-size: 0.5em;
	font-weight: normal;
}

div#questionTabs {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	margin-top: 0em;
	margin-bottom: 3.5em;
}

div#questionTabs div.tab {
	margin: 5px;
	margin-top: 0em;
	font-size: 0.95em;
	color: #1b88d0;
	text-decoration:underline;
	cursor: pointer;
}

div.question {
	padding: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
	cursor: pointer;
}

div.detailedQuestion {
	padding: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.questionId {
	display: none;
}

div.questionTitle {
	width: 80%;
	font-size: 3em;
}

div.questionText {
	font-size: 1.5em;
}

div.questionDetailsText {
	font-size: 1.5em;
	width: 70%;
}

div.questionData {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	font-size: 0.95em;
}

div.questionData div {
	padding: 0.2em;
	margin-right: 1.4em;
}

div.profResponsesRecent {
	background: #ffe450;
}

div#pageNumber {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
	padding-bottom: 20px;
}

div#pageNumber img {
	width: 1em;
	height: 1em;
	margin: 0.6em;
}

div.pageNumberButton {
	margin: 0.6em;
	font-size: 1em;
	color: #1b88d0;
	text-decoration:underline;
	cursor: pointer;
}

div.votes img {
	width: 1em;
	height: 1em;
}

hr#replyDivider {
	margin: 0em;
	margin-bottom: 2em;
	width: 70%;
}

div#addReplyText {
	font-size: 1.5em;
}

div#replyButton {
	color: white;
	background: #1b88d0;
	padding: 6px;
	width: 3em;
	cursor: pointer;
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 3em;
}

textarea#replyText {
	width: 70%;
	height: 12.8em;
}

input#tagText {
	width: 70%;
	margin-bottom: 1em;
}