div#timeline {
	display: -webkit-box; 
	-webkit-box-orient: vertical;
	margin-top: 5em;
}

div.timelineButton {
	display: block;
	width: 0.8em;
	color: rgba(255,255,255,0);
	text-align: center;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-webkit-transition: all 300ms linear;
	cursor: pointer;
	font-size: 0.95em;
}

div#timelineButton1 {
	background: #4d4d4d;
	margin-bottom: 0.8em;
}

div#timelineButton2 {
	background: #b57e49;
}

div#timelineButton3 {
	background: #8a404a;
}

div#timelineButton4 {
	background: #519179;
}

div#timelineButton5 {
	background: #8fb081;
}

div#timelineButton6 {
	background: #ccae5e;
}

div#timelineButton7 {
	background: #b57e49;
}

div#timelineButton8 {
	background: #8a404a;
}

div#timelineButton9 {
	background: #519179;
}

div#timelineButton10 {
	background: #8fb081;
}

div#timelineButton11 {
	background: #ccae5e;
}

div#timelineButton12 {
	background: #519179;
}

div#timelineButton13 {
	background: #8fb081;
}

