div#courseList
	div.courseButton(onclick="selectButton(this)")
		div.courseButtonSelectorTop
		div.courseButtonText PSYC221
		div.courseButtonSelectorBottom
	div.courseButton(onclick="selectButton(this)")
		div.courseButtonSelectorTop
		div.courseButtonText PSYC260
		div.courseButtonSelectorBottom
	div.courseButton(onclick="selectButton(this)")
		div.courseButtonSelectorTop
		div.courseButtonText PSYC268
		div.courseButtonSelectorBottom
	div.courseButton(onclick="selectButton(this)")
		div.courseButtonSelectorTop
		div.courseButtonText PSYC308
		div.courseButtonSelectorBottom
	
script(type="text/javascript", src="../javascripts/rqra/courseList.js")