div#header
	a(href="/")
		img#logo(src="../images/rqra/logo.png", alt="logo")
	div#askQuestion
		input#askQuestionInput(type="text", value="Ask a Question")
	div#profile
		div#profiletext
			div#profileGreeting Hey there,
			div#profileName #{user.firstName} #{user.lastName}
		div#profilePicture
			img(src="../images/rqra/avatar.jpg", alt="profile", onclick="showNotificationMenu()")
			div#newNotificationCount 1
			nav#notificationList
				div#notificationArrow
				div#notificationMenu
					div#notificationHeader
			
script(type="text/javascript", src="../javascripts/rqra/header.js")

script(type="text/javascript")
	notificationUser = '#{user.uuid}';
	updateNotificationList(notificationUser);