div#header
	img#logo(src="../images/img.png", alt="logo")
	div#askQuestion Ask a Question
	div#profile
		div#profiletext
			div#profileGreeting Hey there,
			div#profileName Mary Li
		img(src="../images/img.png", alt="profile")