div#notificationMenu
	div#notificationHeader 2 New notifications
	
	div.notificationNew
		div.notificationMessage
			span.notificationSender Martin K.
			span replied to your question
		div.notificationTime 5 mins ago
		
	div.notificationRegular
		div.notificationMessage
			span.notificationSender Peter B.
			span replied to your question
		div.notificationTime 12 mins ago
		
	div.notificationInstructor
		div.notificationMessage
			span.notificationSender Instructor
			span replied to your question
		div.notificationTime 20 mins ago