div#content
	div#questionHeader
		div#listInfo
			h1#courseTitle Questions for 
				span.inserted PSYC221 Introduction to Cognitive Psychology
				span  from
			h2#sectionTitle Ask a New Question
			
	div#askForm
		div#askFormField
			div#askFormFieldName Your Question
			div#askFormFieldValue
				textarea(rows="4", cols="40")
		div#askFormField
			div#askFormFieldName Description
			div#askFormFieldValue
				textarea(rows="4", cols="40")
		div#askFormField
			div#askFormFieldName Description
			div#askFormFieldValue
				input(type="text")
		div#askFormField
			div#askFormFieldName Tag People
			div#askFormFieldValue
				input(type="text")
		div#formButton Ask Question