div#questionListContent
	div#questionHeader
		div#listInfo
			h2#courseTitle Questions for 
				span.inserted 
				span  from
			h1#sectionTitle
				span#sectionName
			
	div#detailedQuestion
	
	div#comments
		
	hr#replyDivider
		
	div#askForm
		div#addReplyText Add a Reply
		textarea#replyText(rows="4", cols="40")
		div#replyButton(onclick="postComment()") Reply
			
script(type="text/javascript", src="../javascripts/rqra/questionDetails.js")