script(type="text/javascript", src="../javascripts/rqra/questionForm.js")

div#content
	div#formHeader
		h2#sectionTitle Ask a New Question
	
	div#askForm
		div.askFormField
			div.askFormFieldName Your Question
			div.askFormFieldValue
				textarea#questionField(rows="4", cols="40")
		div.askFormField
			div.askFormFieldName Description
			div.askFormFieldValue
				textarea#descriptionField(rows="4", cols="40")
		div.askFormField
			div.askFormFieldName Course Name
			div.askFormFieldValue
				select#courseBox(onchange="RefreshWeekBox()")
		div.askFormField
			div.askFormFieldName Week / Topic
			div.askFormFieldValue
				select#weekBox

	div.formButton(onclick="PostQuestion()") Ask Question

