div#questionListContent
	div#infolist
		div#questionHeader
			h2#courseTitle Questions for 
				span.inserted 
				span  from
			h1#sectionTitle 
				span#sectionName
		div#questionCount
			div#questionCountNumber 25
			div#questionCountText
				div#questionCountText1 Questions
				div#questionCountText2 for this Week
		
			
	div#questionTabs
		div.tab(onclick="displayQuestions('latest', 0)") Latest Questions
		div.tab(onclick="displayQuestions('instructor', 0)") Instructor Answered
		div.tab(onclick="displayQuestions('replied', 0)") Most Responses
		div.tab(onclick="displayQuestions('viewed', 0)") Most Viewed
		div.tab(onclick="displayQuestions('unanswered', 0)") Unanswered Questions
		div.tab(onclick="displayQuestions('myQuestions', 0)") My Questions
	div#askNewQuestionText Can't find the Question you were looking for? 
		a#askNewQuestionLink(href="/new") Ask a new Question!
	
	div#questionsList		
					
	div#pageNumber
		
script(type="text/javascript", src="../javascripts/rqra/questionList.js")