script(type="text/javascript", src="../javascripts/rqra/questionForm.js")

div#questionListContent
	include ./questionHeader
	
	div#hiddenCourse(style='display:none;') #{course}
	div#hiddenWeek(style='display:none;') #{week}
	
	div#askForm
		div.askFormField
			div.askFormFieldName Your Question
			div.askFormFieldValue
				textarea#questionField(rows="4", cols="40")
		div.askFormField
			div.askFormFieldName Description
			div.askFormFieldValue
				textarea#descriptionField(rows="4", cols="40")
		div.askFormField
			div.askFormFieldName Course Name
			div.askFormFieldValue
				select#courseBox(onchange="QuestionForm.onCourseBoxChanged()")
		div.askFormField
			div.askFormFieldName Week / Topic
			div.askFormFieldValue
				select#weekBox(onchange="QuestionForm.onWeekBoxChanged()")

	div.formButton(onclick="QuestionForm.postQuestion()") Ask Question

