script(type="text/javascript", src="../javascripts/rqra/questionList.js")

div#questionListContent
	include ./questionHeader
			
	div#questionTabs
		div.tab(onclick="displayQuestions('latest', 0)") Latest Questions
		div.tab(onclick="displayQuestions('instructor', 0)") Instructor Answered
		div.tab(onclick="displayQuestions('replied', 0)") Most Responses
		div.tab(onclick="displayQuestions('viewed', 0)") Most Viewed
		div.tab(onclick="displayQuestions('unanswered', 0)") Unanswered Questions
		div.tab(onclick="displayQuestions('myQuestions', 0)") My Questions
	div#askNewQuestionText Can't find the Question you were looking for? 
		a#askNewQuestionLink(href="/new") Ask a new Question!
	
	div#questionsList		
					
	div#pageNumber