div#questionListContent
	div#questionCount
		div#questionCountNumber 25
		div#questionCountText
			div#questionCountText1 Questions
			div#questionCountText2 for this Week
			
	div#questionHeader
		div#listInfo
			h1#courseTitle Questions for 
				span.inserted PSYC221 Introduction to Cognitive Psychology
				span  from
			h2#sectionTitle Week 2 - 
				span#sectionName Perception &amp; Pattern Recognition
			div#questionTabs
				div.tab(onclick="displayQuestions('latest', 0)") Latest Questions
				div.tab(onclick="displayQuestions('instructor', 0)") Instructor Answered
				div.tab(onclick="displayQuestions('replied', 0)") Most Responses
				div.tab(onclick="displayQuestions('viewed', 0)") Most Viewed
				div.tab(onclick="displayQuestions('unanswered', 0)") Unanswered Questions
				div.tab(onclick="displayQuestions('myQuestions', 0)") My Questions
	
	div#questionsList		
					
	div#pageNumber
		img(src="../images/rqra/prev.png", alt="previous")
		div.pageNumberButton(onclick='changePage(0)') 1
		div.pageNumberButton(onclick='changePage(1)') 2
		div.pageNumberButton(onclick='changePage(2)') 3
		div.pageNumberButton(onclick='changePage(3)') 4
		img(src="../images/rqra/next.png", alt="next")		
		
script(type="text/javascript", src="../javascripts/rqra/questionTabs.js")