script(type="text/javascript", src="../javascripts/rqra/questionDetails.js")

div#questionListContent
	include ./questionHeader
			
	div#detailedQuestion
	
	div#comments
		
	hr#replyDivider
		
	div#askForm
		div#addReplyText Add a Reply
		textarea#replyText(rows="4", cols="40")
		div#replyButton(onclick="QuestionDetails.postComment()") Reply
