script(type="text/javascript", src="../javascripts/rqra/questionList.js")

div#questionListContent
	include ./questionHeader
			
	div#questionTabs(onclick="questionTabClicked(this, event)")
		div.tab(value="latest") Latest Questions
		div.tab(value="instructor") Instructor Answered
		div.tab(value="replied") Most Responses
		div.tab(value="viewed") Most Viewed
		div.tab(value="unanswered") Unanswered Questions
		div.tab(value="myQuestions") My Questions
	div#askNewQuestionText Can't find the Question you were looking for? 
		a#askNewQuestionLink(href="/new") Ask a new Question!
	
	div#questionsList		
					
	div#pageNumber