div#content
	div#questionHeader
		div#listInfo
			h1#courseTitle Questions for 
				span.inserted PSYC221 Introduction to Cognitive Psychology
				span  from
			h2#sectionTitle Week 2 - 
				span#sectionName Perception &amp; Pattern Recognition
			
	div#detailedQuestion
		div.questionText Chu ke iu povas klarigi la diagramo sur pago 125?
		div.questionData 
			div.profResponsesRecent 2
				img(src="../images/rqra/prof.png", alt="Instructor Responses")
			div.replies 8
				img(src="../images/rqra/reply.png", alt="Replies")
			div.views 38
				img(src="../images/rqra/view.png", alt="Views")
			div Asked 
				span.inserted 25 minutes ago
				span  by 
				span.inserted Jordano
	
	div#comments
		div.comment
			div.questionText La diagramo estas bildo de kato portante cilindra capelo. Gi simbolas la lukton de la homaro kontrau naturo. Ankau gi estas amuzega.
			div.questionData
				div Asked 
					span.inserted 25 minutes ago
					span  by 
					span.inserted Alexino
				div.votes 8
					img(src="../images/rqra/up.png", alt="UpVotes")
				div.votes 38
					img(src="../images/rqra/down.png", alt="DownVotes")
					
		div.comment
			div.questionText Mi ne komprenas ke diagramon chu
			div.questionData
				div Asked 
					span.inserted 25 minutes ago
					span  by 
					span.inserted Katrino
				div.votes 8
					img(src="../images/rqra/up.png", alt="UpVotes")
				div.votes 38
					img(src="../images/rqra/down.png", alt="DownVotes")
		
	hr
		
	div#askForm
		div Add a Reply
		div 
			textarea#askFormText(rows="4", cols="40")
		div
			input(type="text")
		div
			div.formButton(onclick="postComment()") Reply
			
script(type="text/javascript", src="../javascripts/rqra/questionDetails.js")