div#timeline
	div#timelineButton1(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") All
	div#timelineButton2(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week1
	div#timelineButton3(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week2
	div#timelineButton4(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week3
	div#timelineButton5(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week4
	div#timelineButton6(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week5
	div#timelineButton7(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week6
	div#timelineButton8(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week7
	div#timelineButton9(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week8
	div#timelineButton10(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week9
	div#timelineButton11(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week10
	div#timelineButton12(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week11
	div#timelineButton13(class="timelineButton", onmouseover="this.style.width = '75px'; this.style.color = 'rgba(255,255,255,255)';", onmouseout="this.style.width = '15px'; this.style.color = 'rgba(0,0,0,0)';") Week12