script(type="text/javascript")
	function timelineMouseOver(timeline) {
		if (window.event.target !== timeline) {
			window.event.target.style.width='4.5em'; 
			window.event.target.style.color = 'rgba(255,255,255,255)';
		}
	}
	
	function timelineMouseOut(timeline) {
		if (window.event.target !== timeline) {
			window.event.target.style.width = '0.8em'; 
			window.event.target.style.color = 'rgba(0,0,0,0)';
		}
	}
	
	function timelineClicked(timeline) {
		if (window.event.target !== timeline) {
			var targetNode = window.event.target;
			HTMLCollection.prototype.indexOf = Array.prototype.indexOf;
			currentWeek = targetNode.parentNode.children.indexOf(targetNode);
			refreshQuestionsList();
			refreshQuestionListHeader();
		}
	}
	
div#timeline(onmouseover="timelineMouseOver(this)", onmouseout="timelineMouseOut(this)", onclick="timelineClicked(this)")
	div#timelineButton1(class="timelineButton") All
	div#timelineButton2(class="timelineButton") Week1
	div#timelineButton3(class="timelineButton") Week2
	div#timelineButton4(class="timelineButton") Week3
	div#timelineButton5(class="timelineButton") Week4
	div#timelineButton6(class="timelineButton") Week5
	div#timelineButton7(class="timelineButton") Week6
	div#timelineButton8(class="timelineButton") Week7
	div#timelineButton9(class="timelineButton") Week8
	div#timelineButton10(class="timelineButton") Week9
	div#timelineButton11(class="timelineButton") Week10
	div#timelineButton12(class="timelineButton") Week11
	div#timelineButton13(class="timelineButton") Week12