include ./component/header

div#Container
	- if (user.type === 1)
		a.Archives.Button(href="/manage") Manage Media
	- else
		a.Archives.Button(href="") Archives
	include ./component/courseList

	div#Content
		include ./component/media-list
		include ./component/rightContent

include ./component/notification
