include ./component/header

div#Container
	a.Archives.Button(href="") Archives
	include ./component/courseList

	div#Content
		include ./component/media-list
		include ./component/rightContent

include ./component/notification
