!!!
html
	head
		title Accent - #{title}
		
		link(rel="stylesheet", href="../stylesheets/accent/main.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Raleway:100")
		
		script(type="text/javascript", src="../javascripts/jquery-1.7.2.min.js")
		script(type="text/javascript", src="../javascripts/jquery.timeago.js")
		script(type="text/javascript", src="../javascripts/common/common.api.js")
		script(type="text/javascript", src="../javascripts/accent/accent.api.js")
		script(type="text/javascript", src="../javascripts/accent/main.js")		
	body!=body