include ./component/header

div#Container
	a.Archives.Button(href="") Archives
	include ./component/courseList

	div#Content
		form(action="/api/mediafile", method="POST")
			div
				|Title: 
				input(type="text", name="title")
			div
				|Description:
				input(type="text", name="description")
			div
				|Section:
				input(type="text", name="course", value="1234")
			div
				|Section:
				input(type="text", name="section", value="week 1")
			input(type="file", name="mediafile")
			input(type="submit", value="UPLOAD!")