include ./component/header

div#Container
	a.Archives.Button(href="") Archives
	include ./component/courseList

	div#Content
		form(action="/api/mediafile", enctype="multipart/form-data", method="POST")
			div(class="form-row")
				span(class="form-row-text")
					|Title: 
				input(type="text", name="title")
			div(class="form-row")
				span(class="form-row-text")
					|Description:
				textarea(name="description", cols="50", rows="10")
			div(class="form-row")
				span(class="form-row-text")
					|Course:
				select(name="course")
			div(class="form-row")
				span(class="form-row-text")
					|Section:
				select(name="section")
			input(type="file", name="mediafile")
			input(type="submit", value="UPLOAD!")

script(type="text/javascript", src="../javascripts/accent/uploadForm.js")