include ./component/header

div#Container
	- if (user.type === 1)
		a.Archives.Button(class="Button", href="/manage") Manage Media
	- else
		a.Archives.Button(class="Button", href="") Archives
	include ./component/courseList

	div#Content
		include ./component/mainContent
		include ./component/rightContent
