extends layout

block content
	div.row.clearfix#contents

		div.three.columns#no_resource_box(style="display:none;")
			div.innercontents#no_resource
				div
					h4 INSTRUCTOR POSTS

					p There is no instructor posts to show