extends layout

block content
	div.row.clearfix#contents
		div.three.columns#no_resource_box('style="display:none;"')
			div.innercontents#no_resource
				div
					h4 BEGIN TO STAR!

					p You haven't starred any article yet.

